@charset "utf-8";
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	 
	font-size: 16px;
	font-family: "Microsoft Yahei";
	-webkit-text-size-adjust: none;
	color: #333;
	background: #fbfcfd;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
a {
	color: #1c7dfb;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input, textarea {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btn_refresh, .btn_nxt, .btn_support:before, .btn_oppose:before, /*.btn_close, .btn_submit, */.layer_tip .icon, .icon_refresh, .success_2 .icon_success, .btn_menu, .guide .func .icon {
	background: url(../images/sprite.png) no-repeat;
	-webkit-background-size: 103px auto;
	background-size: 103px auto;
}

/* home */
.home, .userInfo {
	padding: 0 30px;
}
.home {
	padding-bottom: 80px;
}
.userInfo {
	padding-bottom: 60px;
}
.home .logo {
	display: block;
	height: 92px;	
	margin: 80px auto 35px;
}
.inputBox, textarea {
	display: block;
	width: 100%;	
	border: 1px solid #ccc;	
	background: #fff;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 20px;
	font-family: robotoregular, "Microsoft Yahei";
	color: #333;
}
.inputBox {
	height: 42px;
	padding: 10px 13px;
}
textarea {
	padding: 8px 13px;	
	resize: none;
}
.home .inputBox, .userInfo .inputBox {	
	text-align: center;		
	margin-bottom: 15px;
}
.inputBox:focus, textarea:focus {
	border: 1px solid #98c1e2;
	-webkit-box-shadow: 0 0 3px rgba(106, 164, 213, 0.35);
	box-shadow: 0 0 3px rgba(106, 164, 213, 0.35);
}
.home .btn_enter, .userInfo .btn_confirm {
	display: block;
	height: 43px;
	line-height: 43px;
	font-size: 18px;
	color: #fff;
	background: #ffbd2b;
	margin-top: 15px;
	text-align: center;
	border-radius: 3px;
}
.home .btn_enter.loading, .userInfo .btn_confirm.loading {
	background: #e9ac27;
	color: #f0f0f0;
}
.home .btn_menu {
	position: absolute;
	width: 20px;
	height: 17px;
	background-position: 0 -282px;
	left: 20px;
	top: 20px;
}

/* userInfo */
.userInfo .avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	line-height: 64px;
	text-align: center;
	font-size: 32px;
	margin: 60px auto 25px;
}
.userInfo .tip {
	line-height: 20px;
	margin-bottom: 28px;
}

/* header */
.header {
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	background: #fdfeff;
	border-bottom: 1px solid #dcddde;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	/*position: relative;*/
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
}
.header h1 {
	font-size: 17px;
	color: #26262c;
	float: left;
	margin-left: 15px;
}
.header .btn_refresh, .header .btn_nxt, .guide .btn_refresh, .guide .btn_nxt {
	width: 47px;
	height: 44px;
	float: right;	
}
.header .btn_refresh {
	background-position: -47px 0;
}
.survey .header .btn_refresh {
	background-position: 0 -304px;
}
.qa .header .btn_refresh.active, .qa .guide .btn_refresh {
	background-position: -47px -304px;
}
.discuss .header .btn_refresh.active, .discuss .guide .btn_refresh {
	background-position: 0 -348px;
}
.qa .header .btn_nxt, .qa .guide .btn_nxt {
	background-position: 0 -74px;
}
.discuss .header .btn_nxt, .discuss .guide .btn_nxt {
	background-position: -47px -74px;
}

/* content */
.content {
	padding: 45px 0 0px;
}
.survey .content {
	padding-bottom: 90px;
}
.question .title {
	overflow: hidden;
	zoom: 1;
	padding: 12px 15px;
	background: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.qa .title {
	border-bottom-color: #ffbd2b;
}
.discuss .title {
	border-bottom-color: #ff7d7a;
}
.survey .title {
	border-bottom-color: #9fc937;
}
.survey .question:nth-child(6n+2) .title {
	border-bottom-color: #e55b36;
}
.survey .question:nth-child(6n+3) .title {
	border-bottom-color: #e8a910;
}
.survey .question:nth-child(6n+4) .title {
	border-bottom-color: #0fabdf;
}
.survey .question:nth-child(6n+5) .title {
	border-bottom-color: #05a78a;
}
.survey .question:nth-child(6n+6) .title {
	border-bottom-color: #7f53b6;
}
.question .title .num {
	float: left;
	font-size: 17px;
}
.qa .title .num {
	color: #ffbd2b;
}
.discuss .title .num {
	color: #ff7d7a;
}
.survey .title .num {
	color: #9fc937;
}
.survey .question:nth-child(6n+2) .title .num {
	color: #e55b36;
}
.survey .question:nth-child(6n+3) .title .num {
	color: #e8a910;
}
.survey .question:nth-child(6n+4) .title .num {
	color: #0fabdf;
}
.survey .question:nth-child(6n+5) .title .num {
	color: #05a78a;
}
.survey .question:nth-child(6n+6) .title .num {
	color: #7f53b6;
}
.question .title p {
	/*margin-left: 45px;*/
	line-height: 20px;
}
.msgList li {
	zoom: 1;
	padding-top: 10px;
}
.msgList li:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.msgList .avatar {
	float: left;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-left: 15px;	
	text-align: center;
	line-height: 32px;
	font-size: 18px;
}
.msgList .info {
	margin-left: 60px;
	padding: 0 15px 10px 0;
	border-bottom: 1px solid #d2d2d2;	
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	/*background: url(../images/border.png) repeat-x left bottom;
	-webkit-background-size: 5px auto;
	background-size: 5px auto;*/
}
.msgList .user {
	color: #949599;
	margin: 6px 0 12px;
}
.msgList .msg {
	line-height: 20px;
	margin-bottom: 12px;
	word-wrap: break-word;
}
.msgList .operate {
	overflow: hidden;
	zoom: 1;
}
.msgList .btn_support, .msgList .btn_oppose, .guide .btn_support {
	float: left;
	padding: 0 10px;
	height: 29px;
	line-height: 29px;
	background: #fff;	
	border: 1px solid #d2d2d2;
	font-size: 14px;
	border-radius: 2px;
	color: #949599;
	margin-right: 10px;
}
.btn_support:before, .btn_oppose:before {
	content: "";
	width: 13px;
	height: 14px;
	float: left;
}
.btn_support:before {
	/*background-position: 0 -60px;*/
	margin-top: 7px;
}
.qa .btn_support:before {
	background-position: -36px -60px;
}
.discuss .btn_support:before {
	background-position: -54px -60px;
}
.btn_oppose:before {
	background-position: -18px -60px;
	margin-top: 9px;
}
/*.qa .btn_support {
	color: #ffbd2b;
}
.discuss .btn_support {
	color: #ff7d7a;
}*/
.btn_support .num, .btn_oppose .num {
	float: left;
	/*color: #949599;*/
	margin: 0 6px;
}
.btn_support.done, .btn_oppose.done {
	color: #fff;
}
.btn_oppose.done {
	background: #d2d2d2;
}
.qa .btn_support.done {
	background: #ffbd2b;
	border-color: #ffbd2b;
}
.discuss .btn_support.done {
	background: #ff7d7a;
	border-color: #ff7d7a;
}
.btn_support.done:before {
	background-position: -72px -60px;
}
.btn_oppose.done:before {
	background-position: -90px -60px;
}
.btnBox {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9;
	width: 100%;
	padding: 0 30px;
	height: 55px;
	background: #fff;
	border-top: 1px solid #d2d2d2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.btnBox .button, .success_2 .btn_submit {
	display: block;
	height: 43px;
	text-align: center;
	line-height: 43px;	
	border-radius: 3px;
	font-size: 18px;
	color: #fff;
	margin-top: 6px;
	background: url(../images/giraffe.png) no-repeat;
	background-size: 35px auto;
	-webkit-background-size: 35px auto;
}
.btnBox .button.loading {
	color: #f0f0f0;
}
.qa .btnBox .button {
	background-color: #ffbd2b;
	background-position: 100% 0;
}
.qa .btnBox .button.loading {
	background-color: #e9ac27;
}
.discuss .btnBox .button {
	background-color: #ff7d7a;
	background-position: 100% -43px;
}
.discuss .btnBox .button.loading {
	background-color: #e9736e;
}
.survey .btnBox .button {
	background-color: #9fc937;
	background-position: 100% -86px;
}
.survey .btnBox .button.loading {
	background-color: #92b732;
}

/* option list */
.survey .question {
	padding-bottom: 15px;
}
.survey .question:last-child {
	padding: 0;
}
.optionList {
	padding: 0 15px;
}
.optionList li {
	margin-top: 15px;
	background: #f1f3f7;
	border-radius: 3px;
	padding: 10px 15px;
	line-height: 20px;
	overflow: hidden;
	zoom: 1;
	cursor: pointer;
}
.optionList .chkBox, .optionList .radBox, .guide .chkBox, .guide .radBox {
	width: 16px;
	height: 16px;	
	border: 1px solid #9fc937;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;	
}
.optionList .chkBox, .optionList .radBox {
	background: #f8f9fb;
	margin-top: 2px;
}
.survey .question:nth-child(6n+2) .chkBox, .survey .question:nth-child(6n+2) .radBox {
	border-color: #e55b36;
}
.survey .question:nth-child(6n+3) .chkBox, .survey .question:nth-child(6n+3) .radBox {
	border-color: #e8a910;
}
.survey .question:nth-child(6n+4) .chkBox, .survey .question:nth-child(6n+4) .radBox {
	border-color: #0fabdf;
}
.survey .question:nth-child(6n+5) .chkBox, .survey .question:nth-child(6n+5) .radBox {
	border-color: #05a78a;
}
.survey .question:nth-child(6n+6) .chkBox, .survey .question:nth-child(6n+6) .radBox {
	border-color: #7f53b6;
}
.optionList .radBox, .guide .radBox {
	border-radius: 50%;
}
.optionList p {
	margin-left: 30px;
}
.optionList .selected {
	background: #9fc937;
	color: #fff;
}
.survey .question:nth-child(6n+2) .optionList .selected {
	background: #e55b36;
}
.survey .question:nth-child(6n+3) .optionList .selected {
	background: #e8a910;
}
.survey .question:nth-child(6n+4) .optionList .selected {
	background: #0fabdf;
}
.survey .question:nth-child(6n+5) .optionList .selected {
	background: #05a78a;
}
.survey .question:nth-child(6n+6) .optionList .selected {
	background: #7f53b6;
}
.selected .chkBox, .selected .radBox, .guide .chkBox.checked, .guide .radBox.checked {
	background: url(../images/sprite.png) no-repeat 0 -118px;
	-webkit-background-size: 103px auto;
	background-size: 103px auto;
	border: none;
}
.question .inputWrap {
	padding: 15px;
}
.question textarea {	
	height: 80px;		
}
.ask .nickname {
	margin: 15px 0 0 0;
}

/* ask */
/*.ask h1 {
	float: none;
	margin: 0 47px;
	text-align: center;
}
.ask .btn_close, .ask .btn_submit {
	width: 47px;
	height: 44px;
	position: absolute;
	top: 0;
}
.ask .btn_close {
	left: 0;
	background-position: 0 -139px;
}
.ask .btn_submit {
	right: 0;
	background-position: -47px -139px;
}*/
.ask .content {
	padding-top: 0;
}
.ask .operate {
	overflow: hidden;
	zoom: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	display: box;
	padding: 0 15px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ask .operate a {
	display: block;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
}
.ask .operate span {
	display: block;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
}

.ask .operate .btn_status {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	text-align: center;
	background-color: #c9c8c8;
	margin-bottom: 10px;
}

.ask .operate .btn_cancel {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	background-color: #c9c8c8;
	margin-bottom: 10px;
}
.ask .operate .btn_submit {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-o-box-flex: 2;
	-ms-box-flex: 2;
	box-flex: 2;
	background: #ffbd2b url(../images/giraffe.png) no-repeat 100% 0;
	background-size: 35px auto;
	-webkit-background-size: 35px auto;
	/*margin-left: 10px;*/
	margin-bottom: 10px;
}

/* layer */
.layer_tip {
	width: 120px;
	padding: 18px 20px 15px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -80px;
	z-index: 9999;
}
.layer_tip .icon {
	display: block;
	width: 43px;
	height: 40px;
	margin: 0 auto 15px;
}
.layer_tip .icon_info {
	background-position: 0 -183px;
}
.layer_tip .icon_success {
	background-position: -43px -183px;
}
.layer_tip .tip {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

/* animation */
.autoHide {
	-webkit-animation: hide_a 1s linear;
    animation: hide_a 1s linear;
	-webkit-animation-iteration-count: 1;   
    animation-iteration-count: 1; 
	-webkit-animation-fill-mode: forwards;   
    animation-fill-mode: forwards;    
  }
@-webkit-keyframes hide_a {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}
@keyframes hide_a {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}
  
/* success */
.success .header {
	-webkit-box-shadow: none;
	box-shadow: none;
	position: static;
}
.success .icon_success {
	display: block;
	width: 102px;
	height: 102px;
	background: url(../images/icon_success.png) no-repeat;
	-webkit-background-size: 102px auto;
	background-size: 102px auto;
	margin: 0 auto;
}
.success .content {
	padding: 60px 0;
}
.success .tip {
	font-size: 18px;
	line-height: 24px;
	color: #999;
	margin: 25px 30px 0;
	text-align: center;
}
.success .icon_refresh {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: -62px -14px;
	margin: 0 5px;
}

/* success2 */
.success_2 {
	padding-bottom: 60px;
}
.success_2 .top {
	margin-bottom: 25px;
}
.success_2 .icon_success {
	display: block;
	width: 49px;
	height: 49px;
	background-position: 0 -228px;
	margin: 25px auto 20px;
}
.success_2 .tip {
	text-align: center;
	color: #555;
}
.infoCollect {
	padding: 0 15px;
}
.infoCollect .title {
	background: #f5f5f5;
	padding: 12px 15px;
	border-bottom: 1px solid #9fc937;
	border-top: 1px solid #dcddde;
	line-height: 20px;
}
.infoCollect .title, .infoCollect .optionList {
	margin: 0 -15px;
}
.infoCollect .inputBox {
	margin-top: 15px;
}
.success_2 .btn_submit {
	background-color: #9fc937;
	background-position: 100% -86px;
	margin-top: 15px;
}

/* panel */
.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.panel {
	position: absolute;
	width: 80%;
	height: 100%;
	background: #435866;
	left: 0;
	top: 0;
	-webkit-transform: translate(0,0) translateZ(0);
	-moz-transform: translate(0,0) translateZ(0);
	transform: translate(0,0) translateZ(0);
}
.home.active {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 80%;
	top: 0;
	z-index: 9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}
.panel .logo {
	display: block;
	width: 115px;
	margin: 40px auto 30px;
}
.panel .nav a {
	display: block;
	height: 54px;
	line-height: 54px;
	font-size: 18px;
	color: #9fa7ad;
	border-left: 4px solid #435866;
	padding-left: 26px;
}
.panel .nav .current {
	color: #fff;
	border-color: #ffbd2b;
}
.panel .btnBox_2 {
	position: absolute;
	padding: 0 30px 30px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
}
.btnBox_2 .button {
	display: block;
	margin-top: 15px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	color: #9fa7ad;
	text-align: center;
	border: 1px solid #71808a;
	border-radius: 3px;
}
.container .page {
	position: absolute;
	width: 100%;
	left: 80%;
	top: 0;
	z-index: 9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);*/
	background-color: #fff;
	-webkit-transition: left ease-out .3s;
	-moz-transition: left ease-out .3s;
	transition: left ease-out .3s;
	min-height: 100%;
}
.container .page.show {
	left: 0;
}

/* guide */
.mask, .guide {
	width: 100%;
	height: 100%;	
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	color: #fff;
}
.mask {
	background: #000;
	opacity: 0.8;
}
.guide .func {
	margin: 80px 0 0 50px;
}
.guide .func li {
	margin-bottom: 20px;
	padding-left: 40px;
}
.guide .func li:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.guide .chkBox, .guide .radBox, .guide .func .icon {
	/*margin-right: 20px;*/
	float: left;
	margin-left: -40px;
}
.guide .btnBox {
	padding: 0 30px 6px;
	height: auto;
	background: none;
	border: none;
}
.guide .btnBox .tip {
	margin: 0 20px 20px;
	line-height: 24px;
}
.page.blur {
	-webkit-filter: blur(3px);
}
.guide .btn_refresh, .guide .btn_nxt {
	position: absolute;
	top: 0;
}
.guide .btn_refresh {
	right: 47px;
}
.guide .btn_nxt {
	right: 0;
}
.guide .func .icon_refresh {
	width: 17px;
	height: 16px;	
}
.qa .guide .icon_refresh {
	background-position: -62px -318px;
}
.discuss .guide .icon_refresh {
	background-position: -15px -362px;
}
.guide .func .icon_next {
	width: 13px;
	height: 18px;
	margin: -1px 0 0 -38px;
}
.qa .guide .icon_next {
	background-position: -17px -87px;
}
.discuss .guide .icon_next {
	background-position: -64px -87px;
}
.guide .func .icon_support {
	width: 17px;
	height: 20px;
	margin-top: -2px;
}
.qa .guide .icon_support {
	background-position: 100% -228px;
}
.discuss .guide .icon_support {
	background-position: 100% -253px;
}
.guide .btn_support {
	float: none;
	display: inline-block;
	margin: 20px 0 0;
}
