<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bp_starburst_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,1234},{96,66}}</string>
			<key>offset</key>
			<string>{22,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{204,229},{96,66}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1404,1820},{170,174}}</string>
			<key>offset</key>
			<string>{4,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{149,163},{170,174}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1404,1596},{232,222}}</string>
			<key>offset</key>
			<string>{-7,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{107,137},{232,222}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,1618},{282,264}}</string>
			<key>offset</key>
			<string>{-10,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,115},{282,264}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,1302},{330,296}}</string>
			<key>offset</key>
			<string>{-8,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,100},{330,296}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,1234},{362,338}}</string>
			<key>offset</key>
			<string>{-10,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,73},{362,338}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,1600},{396,364}}</string>
			<key>offset</key>
			<string>{-6,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,52},{396,364}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1328,1206},{410,388}}</string>
			<key>offset</key>
			<string>{-3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,40},{410,388}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1600},{420,396}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,34},{420,396}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1344,404},{420,398}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,34},{420,398}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1344,2},{426,400}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,33},{426,400}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340,804},{430,400}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,34},{430,400}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,836},{434,402}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,33},{434,402}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,824},{442,408}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,28},{442,408}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{446,414}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,27},{446,414}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,420},{442,414}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,28},{442,414}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,412},{444,410}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,26},{444,410}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,2},{446,408}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,26},{446,408}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,2},{444,416}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,20},{444,416}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,418},{444,406}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{444,406}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1188},{434,410}}</string>
			<key>offset</key>
			<string>{9,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,19},{434,410}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,826},{438,360}}</string>
			<key>offset</key>
			<string>{8,34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,16},{438,360}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,1600},{396,346}}</string>
			<key>offset</key>
			<string>{-8,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,31},{396,346}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
		<key>bp_starburst_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,1240},{186,376}}</string>
			<key>offset</key>
			<string>{-105,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,35},{186,376}}</string>
			<key>sourceSize</key>
			<string>{460,460}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bp_starburst.png</string>
		<key>size</key>
		<string>{1772,1998}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f88f79f449746b0c6f220aef7ef119b1$</string>
		<key>textureFileName</key>
		<string>bp_starburst.png</string>
	</dict>
</dict>
</plist>
