<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginner</key>
	<array>
		<dict>
			<key>numberOfWeights</key>
			<integer>1</integer>
			<key>allowedWeightSizes</key>
			<string>S</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>5</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.35</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>1</integer>
			<key>allowedWeightSizes</key>
			<string>S</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>5</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.85</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>1</integer>
			<key>allowedWeightSizes</key>
			<string>M</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>6</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.65</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>S</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.75</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>S</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.45</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>S</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.85</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>S</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.65</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>S</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.45</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.9</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<integer>2</integer>
				<key>max</key>
				<integer>3</integer>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.7</real>
		</dict>
	</array>
	<key>intermediate</key>
	<array>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.25</real>
				<key>max</key>
				<real>2.25</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.55</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>M</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.75</real>
				<key>max</key>
				<real>1.5</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.55</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.75</real>
				<key>max</key>
				<real>2.5</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.65</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>7</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.75</real>
				<key>max</key>
				<real>2.5</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.65</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>8</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.75</real>
				<key>max</key>
				<real>2.5</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.65</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.45</real>
				<key>max</key>
				<real>1.25</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.25</real>
				<key>max</key>
				<real>2.25</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.55</real>
				<key>max</key>
				<real>2.25</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.25</real>
				<key>max</key>
				<real>2.25</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>SM</string>
			<key>scaleSensitivity</key>
			<real>0.35</real>
			<key>trialDurationInSeconds</key>
			<integer>10</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.25</real>
				<key>max</key>
				<real>2.25</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.7</real>
		</dict>
	</array>
	<key>advanced</key>
	<array>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>M</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>8</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.25</real>
				<key>max</key>
				<real>2.1</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.65</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>M</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>8</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.55</real>
				<key>max</key>
				<real>1.1</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.65</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>2</integer>
			<key>allowedWeightSizes</key>
			<string>L</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>8</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>1.25</real>
				<key>max</key>
				<real>2.1</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.75</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>SL</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.75</real>
				<key>max</key>
				<real>1.75</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>ML</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.75</real>
				<key>max</key>
				<real>1.75</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>3</integer>
			<key>allowedWeightSizes</key>
			<string>ML</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.45</real>
				<key>max</key>
				<real>1.75</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.75</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>4</integer>
			<key>allowedWeightSizes</key>
			<string>SML</string>
			<key>scaleSensitivity</key>
			<real>0.15</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.75</real>
				<key>max</key>
				<real>1.75</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.8</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>4</integer>
			<key>allowedWeightSizes</key>
			<string>SML</string>
			<key>scaleSensitivity</key>
			<real>0.25</real>
			<key>trialDurationInSeconds</key>
			<integer>9</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.55</real>
				<key>max</key>
				<real>1.75</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.8</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>4</integer>
			<key>allowedWeightSizes</key>
			<string>SML</string>
			<key>scaleSensitivity</key>
			<real>0.25</real>
			<key>trialDurationInSeconds</key>
			<integer>10</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.75</real>
				<key>max</key>
				<real>1.75</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.8</real>
		</dict>
		<dict>
			<key>numberOfWeights</key>
			<integer>4</integer>
			<key>allowedWeightSizes</key>
			<string>SML</string>
			<key>scaleSensitivity</key>
			<real>0.25</real>
			<key>trialDurationInSeconds</key>
			<integer>10</integer>
			<key>fallingInterval</key>
			<dict>
				<key>min</key>
				<real>0.45</real>
				<key>max</key>
				<real>1.55</real>
			</dict>
			<key>allowedWeightSpanRange</key>
			<real>0.8</real>
		</dict>
	</array>
</dict>
</plist>
