<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bs_holder_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,272},{598,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{598,268}}</string>
                <key>sourceSize</key>
                <string>{608,268}</string>
            </dict>
            <key>bs_holder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,268}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,268}}</string>
                <key>sourceSize</key>
                <string>{608,268}</string>
            </dict>
            <key>bs_holder_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,272},{598,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{598,268}}</string>
                <key>sourceSize</key>
                <string>{608,268}</string>
            </dict>
            <key>bs_holder_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{598,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{598,268}}</string>
                <key>sourceSize</key>
                <string>{608,268}</string>
            </dict>
            <key>bs_holder_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{600,268}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,268}}</string>
                <key>sourceSize</key>
                <string>{608,268}</string>
            </dict>
            <key>bs_holder_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,268}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,268}}</string>
                <key>sourceSize</key>
                <string>{608,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigOrSmall.png</string>
            <key>size</key>
            <string>{1806,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d358045e2273b9556d9f2c3f553625:b6352d51cbaa07be7595554d62bf206f:40020d5e787de306f94034f1fe1ce366$</string>
            <key>textureFileName</key>
            <string>BigOrSmall.png</string>
        </dict>
    </dict>
</plist>
