<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cheer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3060,1030},{340,602}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,149},{340,602}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1326},{346,646}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,141},{346,646}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,738},{578,586}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,49},{578,586}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{586,592}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{586,592}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{592,606}}</string>
                <key>offset</key>
                <string>{0,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{592,606}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{596,606}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{596,606}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,606}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{596,606}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2100,1460},{464,624}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,61},{464,624}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2362,2},{466,696}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{466,696}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{466,704}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,44},{466,704}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{466,734}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,39},{466,734}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,596},{412,738}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{412,738}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3602,416},{468,612}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,162},{468,612}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3060,2},{412,742}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,31},{412,742}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,470},{384,752}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,30},{384,752}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2410,470},{382,634}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,148},{382,634}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2208,856},{340,602}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,149},{340,602}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3314,1372},{464,612}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,162},{464,612}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,856},{488,612}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,162},{488,612}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2550,854},{508,586}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,99},{508,586}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2726,1442},{524,586}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,83},{524,586}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3060,416},{540,586}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,70},{540,586}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1346},{552,586}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,60},{552,586}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
            <key>cheer_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1336},{566,586}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,53},{566,586}}</string>
                <key>sourceSize</key>
                <string>{620,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cheer.png</string>
            <key>size</key>
            <string>{4072,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7b08c50ea837eded48cab9b3619e04:8a4bec6a76329c1620b9dc131fe50faa:0ca50ac8644ee24c357ece5783986753$</string>
            <key>textureFileName</key>
            <string>cheer.png</string>
        </dict>
    </dict>
</plist>
