<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,238}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{240,238}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cc_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{240,238}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{240,238}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cc_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,238}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{240,238}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cc_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{32,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cc_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,238}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{240,238}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CircleCount.png</string>
            <key>size</key>
            <string>{1004,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9811d076065697b10774ef21a161e05e:e1c87c21ae19ea8a9c44ff7888ffa276:031f6d7db604812a1bc370eb9d804a44$</string>
            <key>textureFileName</key>
            <string>CircleCount.png</string>
        </dict>
    </dict>
</plist>
