<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cs_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{257,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,488}}</string>
                <key>sourceSize</key>
                <string>{257,488}</string>
            </dict>
            <key>cs_back_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,491}}</string>
                <key>sourceSize</key>
                <string>{257,491}</string>
            </dict>
            <key>cs_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,136},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
            <key>cs_coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,189},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>cs_coin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>cs_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,75},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CoinSolving.png</string>
            <key>size</key>
            <string>{589,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7ad26f0b238c4ad7c494575f21b22ca:fc07c77e7c4033cd095cc46c6158dc5b:8068d0be4e13925d7e0a70fbdc033897$</string>
            <key>textureFileName</key>
            <string>CoinSolving.png</string>
        </dict>
    </dict>
</plist>
