<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>co_circle_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,420},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_circle_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,421},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_circle_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,618},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_circle_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,618},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_circle_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,618},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_circle_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,618},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_diamond_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,421},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_diamond_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,211},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_diamond_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,211},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_diamond_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,212},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_diamond_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_diamond_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,2},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>co_hexagon_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,629},{207,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,181}}</string>
                <key>sourceSize</key>
                <string>{207,181}</string>
            </dict>
            <key>co_hexagon_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,423},{207,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,181}}</string>
                <key>sourceSize</key>
                <string>{207,181}</string>
            </dict>
            <key>co_hexagon_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,634},{207,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,181}}</string>
                <key>sourceSize</key>
                <string>{207,181}</string>
            </dict>
            <key>co_hexagon_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,630},{207,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,181}}</string>
                <key>sourceSize</key>
                <string>{207,181}</string>
            </dict>
            <key>co_hexagon_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,630},{207,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,181}}</string>
                <key>sourceSize</key>
                <string>{207,181}</string>
            </dict>
            <key>co_hexagon_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{207,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,181}}</string>
                <key>sourceSize</key>
                <string>{207,181}</string>
            </dict>
            <key>co_octagon_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>co_octagon_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,213},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>co_octagon_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>co_octagon_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>co_octagon_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>co_octagon_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>co_star2_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>co_star2_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>co_star2_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>co_star2_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>co_star2_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,213},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>co_star2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,424},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>co_star_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,415},{212,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,201}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>co_star_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,415},{209,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,201}}</string>
                <key>sourceSize</key>
                <string>{209,201}</string>
            </dict>
            <key>co_star_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,415},{212,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,201}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>co_star_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,212},{212,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,201}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>co_star_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,212},{212,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,201}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>co_star_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,212},{212,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,201}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CrystalObjects.png</string>
            <key>size</key>
            <string>{1907,827}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de8ab5b761f981f66052500f7ed90ca2:52c6ab4cd4f52a4018918ed444048a45:42d57e9217ffcafab1efc974aabd7583$</string>
            <key>textureFileName</key>
            <string>CrystalObjects.png</string>
        </dict>
    </dict>
</plist>
