<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EF_accessory_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,421},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>EF_accessory_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,369},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>EF_accessory_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,457},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>EF_accessory_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{128,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,29}}</string>
                <key>sourceSize</key>
                <string>{128,29}</string>
            </dict>
            <key>EF_accessory_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,219},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>EF_accessory_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,373},{92,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,20}}</string>
                <key>sourceSize</key>
                <string>{92,20}</string>
            </dict>
            <key>EF_accessory_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,472},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>EF_accessory_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,403},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>EF_accessory_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,408},{74,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,47}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>EF_accessory_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,284},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>EF_accessory_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,131},{50,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,9}}</string>
                <key>sourceSize</key>
                <string>{50,9}</string>
            </dict>
            <key>EF_accessory_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,487},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>EF_accessory_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,234},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>EF_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,336},{165,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,72}}</string>
                <key>sourceSize</key>
                <string>{171,72}</string>
            </dict>
            <key>EF_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,131},{165,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{165,72}}</string>
                <key>sourceSize</key>
                <string>{171,72}</string>
            </dict>
            <key>EF_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,268}}</string>
                <key>sourceSize</key>
                <string>{266,268}</string>
            </dict>
            <key>EF_card_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,452},{174,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,54}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>EF_eyes_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,457},{80,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,21}}</string>
                <key>sourceSize</key>
                <string>{80,21}</string>
            </dict>
            <key>EF_eyes_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,132},{81,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,24}}</string>
                <key>sourceSize</key>
                <string>{81,24}</string>
            </dict>
            <key>EF_eyes_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,131},{78,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,25}}</string>
                <key>sourceSize</key>
                <string>{78,25}</string>
            </dict>
            <key>EF_eyes_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,132},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>EF_eyes_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,373},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>EF_eyes_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,284},{83,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,24}}</string>
                <key>sourceSize</key>
                <string>{83,24}</string>
            </dict>
            <key>EF_glasses_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,122},{106,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>EF_glasses_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,373},{99,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,25}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>EF_glasses_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,2},{103,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,33}</string>
            </dict>
            <key>EF_hair_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,234},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>EF_hair_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{161,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,182}}</string>
                <key>sourceSize</key>
                <string>{161,182}</string>
            </dict>
            <key>EF_hair_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{153,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,228}}</string>
                <key>sourceSize</key>
                <string>{153,228}</string>
            </dict>
            <key>EF_hair_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,186},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,148}}</string>
                <key>sourceSize</key>
                <string>{149,148}</string>
            </dict>
            <key>EF_hair_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{127,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,203}}</string>
                <key>sourceSize</key>
                <string>{127,203}</string>
            </dict>
            <key>EF_hair_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{124,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,222}}</string>
                <key>sourceSize</key>
                <string>{124,222}</string>
            </dict>
            <key>EF_hair_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,410},{126,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,96}}</string>
                <key>sourceSize</key>
                <string>{126,96}</string>
            </dict>
            <key>EF_hair_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,317},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,89}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>EF_hair_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,410},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>EF_hair_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,373},{126,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,99}}</string>
                <key>sourceSize</key>
                <string>{126,99}</string>
            </dict>
            <key>EF_hair_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,361},{130,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,109}}</string>
                <key>sourceSize</key>
                <string>{130,109}</string>
            </dict>
            <key>EF_hair_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,346},{130,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,109}}</string>
                <key>sourceSize</key>
                <string>{130,109}</string>
            </dict>
            <key>EF_head_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,122},{110,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,163}}</string>
                <key>sourceSize</key>
                <string>{110,163}</string>
            </dict>
            <key>EF_head_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,122},{110,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,161}}</string>
                <key>sourceSize</key>
                <string>{110,161}</string>
            </dict>
            <key>EF_head_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,234},{110,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,157}}</string>
                <key>sourceSize</key>
                <string>{110,157}</string>
            </dict>
            <key>EF_head_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,205},{110,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,163}}</string>
                <key>sourceSize</key>
                <string>{110,163}</string>
            </dict>
            <key>EF_head_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,272},{118,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,178}}</string>
                <key>sourceSize</key>
                <string>{118,178}</string>
            </dict>
            <key>EF_head_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,226},{118,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,175}}</string>
                <key>sourceSize</key>
                <string>{118,175}</string>
            </dict>
            <key>EF_head_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{118,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,178}}</string>
                <key>sourceSize</key>
                <string>{118,178}</string>
            </dict>
            <key>EF_head_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{118,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,184}}</string>
                <key>sourceSize</key>
                <string>{118,184}</string>
            </dict>
            <key>EF_mouth_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,474},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>EF_mouth_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,408},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>EF_mouth_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,467},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>EF_mouth_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,467},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>EF_mouth_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,480},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>EF_mouth_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,473},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>EF_mouth_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,474},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>EF_mouth_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,474},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>EF_nose_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,474},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>EF_nose_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,480},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>EF_nose_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,487},{19,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>EF_nose_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,211},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>EF_nose_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,317},{19,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>EF_nose_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,107},{26,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,52}}</string>
                <key>sourceSize</key>
                <string>{26,52}</string>
            </dict>
            <key>EF_nose_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,457},{28,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,52}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>EF_nose_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,472},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>EF_nose_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,472},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>EF_nose_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,161},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EndlessFaces.png</string>
            <key>size</key>
            <string>{1198,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4f7741e2d980329e59752a0191a3ad6:5afb5132abbf6e199ec4e900207ecb94:b1decc319d3f07776c9dcf46bf559cb2$</string>
            <key>textureFileName</key>
            <string>EndlessFaces.png</string>
        </dict>
    </dict>
</plist>
