<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eye_blink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{295,354}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{295,354}}</string>
                <key>sourceSize</key>
                <string>{369,428}</string>
            </dict>
            <key>eye_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{295,354}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{295,354}}</string>
                <key>sourceSize</key>
                <string>{369,428}</string>
            </dict>
            <key>eye_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{295,354}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{295,354}}</string>
                <key>sourceSize</key>
                <string>{369,428}</string>
            </dict>
            <key>eye_blink_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{295,354}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{295,354}}</string>
                <key>sourceSize</key>
                <string>{369,428}</string>
            </dict>
            <key>eye_blink_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,354}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{295,354}}</string>
                <key>sourceSize</key>
                <string>{369,428}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eye_blink.png</string>
            <key>size</key>
            <string>{1487,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50297e39e931e4b0d87c685eb5969fe4:ac2a18cb8d6c63deb96ff4af914cc5a3:0a48d021445b7da6759659bd1124beec$</string>
            <key>textureFileName</key>
            <string>eye_blink.png</string>
        </dict>
    </dict>
</plist>
