<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GG_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,88},{492,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,84}}</string>
                <key>sourceSize</key>
                <string>{492,84}</string>
            </dict>
            <key>GG_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{492,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,84}}</string>
                <key>sourceSize</key>
                <string>{492,84}</string>
            </dict>
            <key>GG_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{492,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,84}}</string>
                <key>sourceSize</key>
                <string>{492,84}</string>
            </dict>
            <key>GG_groove_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,174},{22,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,174},{30,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,105},{32,20}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,90},{26,26}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,174},{30,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,174},{26,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>GG_groove_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,174},{26,36}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,174},{24,46}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,174},{26,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,174},{30,40}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,174},{30,34}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_groove_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,174},{32,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GG_tooth_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,174},{20,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{20,48}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,58},{30,26}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,58},{24,30}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,174},{20,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{20,48}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,105},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,174},{24,46}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,46}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,174},{24,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{24,48}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,58},{22,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,105},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,174},{30,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_tooth_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,174},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>GG_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{101,101}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>GG_wheel_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GearsGrooves.png</string>
            <key>size</key>
            <string>{990,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2a741b7938b49d0e8ed95cad0718578:cb21c168dc2ac6d0cf45852c2af0bd6b:1a976acbaee19dacdf54a61dfa549808$</string>
            <key>textureFileName</key>
            <string>GearsGrooves.png</string>
        </dict>
    </dict>
</plist>
