<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ho_baseball_bat_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,199},{184,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,189}}</string>
                <key>sourceSize</key>
                <string>{184,189}</string>
            </dict>
            <key>ho_baseball_bat_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1846},{184,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,189}}</string>
                <key>sourceSize</key>
                <string>{184,189}</string>
            </dict>
            <key>ho_baseball_bat_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{184,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,189}}</string>
                <key>sourceSize</key>
                <string>{184,189}</string>
            </dict>
            <key>ho_baseball_bat_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1448},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,188}}</string>
                <key>sourceSize</key>
                <string>{184,188}</string>
            </dict>
            <key>ho_basketball_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1246},{191,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,183}}</string>
                <key>sourceSize</key>
                <string>{191,183}</string>
            </dict>
            <key>ho_basketball_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,385},{191,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,183}}</string>
                <key>sourceSize</key>
                <string>{191,183}</string>
            </dict>
            <key>ho_basketball_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,385},{191,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,183}}</string>
                <key>sourceSize</key>
                <string>{191,183}</string>
            </dict>
            <key>ho_basketball_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,789},{191,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,183}}</string>
                <key>sourceSize</key>
                <string>{191,183}</string>
            </dict>
            <key>ho_bike_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,419},{202,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,127}}</string>
                <key>sourceSize</key>
                <string>{202,127}</string>
            </dict>
            <key>ho_bike_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,929},{201,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,127}}</string>
                <key>sourceSize</key>
                <string>{201,127}</string>
            </dict>
            <key>ho_bike_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,929},{201,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,127}}</string>
                <key>sourceSize</key>
                <string>{201,127}</string>
            </dict>
            <key>ho_bike_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1136},{201,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,127}}</string>
                <key>sourceSize</key>
                <string>{201,127}</string>
            </dict>
            <key>ho_bowling_ball_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1058},{192,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,184}}</string>
                <key>sourceSize</key>
                <string>{192,184}</string>
            </dict>
            <key>ho_bowling_ball_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1244},{192,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,183}}</string>
                <key>sourceSize</key>
                <string>{192,183}</string>
            </dict>
            <key>ho_bowling_ball_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,743},{192,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,184}}</string>
                <key>sourceSize</key>
                <string>{192,184}</string>
            </dict>
            <key>ho_bowling_ball_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1058},{192,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,184}}</string>
                <key>sourceSize</key>
                <string>{192,184}</string>
            </dict>
            <key>ho_cactus_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1844},{142,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,187}}</string>
                <key>sourceSize</key>
                <string>{142,187}</string>
            </dict>
            <key>ho_cactus_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1624},{142,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,187}}</string>
                <key>sourceSize</key>
                <string>{142,187}</string>
            </dict>
            <key>ho_cactus_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1451},{142,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,187}}</string>
                <key>sourceSize</key>
                <string>{142,187}</string>
            </dict>
            <key>ho_cactus_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1624},{142,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,187}}</string>
                <key>sourceSize</key>
                <string>{142,187}</string>
            </dict>
            <key>ho_cake_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,418},{204,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,175}}</string>
                <key>sourceSize</key>
                <string>{204,175}</string>
            </dict>
            <key>ho_cake_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,530},{202,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,175}}</string>
                <key>sourceSize</key>
                <string>{202,175}</string>
            </dict>
            <key>ho_cake_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,341},{199,173}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,173}}</string>
                <key>sourceSize</key>
                <string>{201,175}</string>
            </dict>
            <key>ho_cake_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,570},{197,171}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{197,171}}</string>
                <key>sourceSize</key>
                <string>{201,175}</string>
            </dict>
            <key>ho_car_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1431},{206,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,125}}</string>
                <key>sourceSize</key>
                <string>{206,125}</string>
            </dict>
            <key>ho_car_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,828},{206,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,126}}</string>
                <key>sourceSize</key>
                <string>{206,126}</string>
            </dict>
            <key>ho_car_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1240},{206,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,125}}</string>
                <key>sourceSize</key>
                <string>{206,125}</string>
            </dict>
            <key>ho_car_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1240},{206,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,125}}</string>
                <key>sourceSize</key>
                <string>{206,125}</string>
            </dict>
            <key>ho_daisy_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1636},{131,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,208}}</string>
                <key>sourceSize</key>
                <string>{131,208}</string>
            </dict>
            <key>ho_daisy_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,210},{129,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,200}}</string>
                <key>sourceSize</key>
                <string>{131,208}</string>
            </dict>
            <key>ho_daisy_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,210},{129,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,200}}</string>
                <key>sourceSize</key>
                <string>{131,208}</string>
            </dict>
            <key>ho_daisy_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,210},{129,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,200}}</string>
                <key>sourceSize</key>
                <string>{131,208}</string>
            </dict>
            <key>ho_donut_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,595},{191,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,192}}</string>
                <key>sourceSize</key>
                <string>{191,192}</string>
            </dict>
            <key>ho_donut_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1042},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>ho_donut_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,847},{192,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,193}}</string>
                <key>sourceSize</key>
                <string>{192,193}</string>
            </dict>
            <key>ho_donut_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1042},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>ho_drum_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,352},{207,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>ho_drum_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,961},{207,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>ho_drum_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,669},{207,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>ho_drum_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,669},{207,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>ho_eraser_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,516},{193,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,94}}</string>
                <key>sourceSize</key>
                <string>{193,94}</string>
            </dict>
            <key>ho_eraser_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1640},{192,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,94}}</string>
                <key>sourceSize</key>
                <string>{192,94}</string>
            </dict>
            <key>ho_eraser_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1257},{192,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,94}}</string>
                <key>sourceSize</key>
                <string>{192,94}</string>
            </dict>
            <key>ho_eraser_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1257},{192,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,94}}</string>
                <key>sourceSize</key>
                <string>{192,94}</string>
            </dict>
            <key>ho_guitar_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,210},{202,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,207}}</string>
                <key>sourceSize</key>
                <string>{202,207}</string>
            </dict>
            <key>ho_guitar_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{202,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,207}}</string>
                <key>sourceSize</key>
                <string>{202,207}</string>
            </dict>
            <key>ho_guitar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,228}}</string>
                <key>sourceSize</key>
                <string>{202,228}</string>
            </dict>
            <key>ho_guitar_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{202,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,207}}</string>
                <key>sourceSize</key>
                <string>{202,207}</string>
            </dict>
            <key>ho_hamburger_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1436},{196,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,176}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>ho_hamburger_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1838},{194,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,176}}</string>
                <key>sourceSize</key>
                <string>{194,176}</string>
            </dict>
            <key>ho_hamburger_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1838},{194,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,176}}</string>
                <key>sourceSize</key>
                <string>{194,176}</string>
            </dict>
            <key>ho_hamburger_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1429},{193,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,176}}</string>
                <key>sourceSize</key>
                <string>{193,176}</string>
            </dict>
            <key>ho_hockey_stick_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{196,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,193}}</string>
                <key>sourceSize</key>
                <string>{196,193}</string>
            </dict>
            <key>ho_hockey_stick_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{196,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,194}}</string>
                <key>sourceSize</key>
                <string>{196,194}</string>
            </dict>
            <key>ho_hockey_stick_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{196,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,193}}</string>
                <key>sourceSize</key>
                <string>{196,193}</string>
            </dict>
            <key>ho_hockey_stick_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{196,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,194}}</string>
                <key>sourceSize</key>
                <string>{196,194}</string>
            </dict>
            <key>ho_motorcycle_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1139},{211,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,116}}</string>
                <key>sourceSize</key>
                <string>{211,116}</string>
            </dict>
            <key>ho_motorcycle_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,595},{211,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,116}}</string>
                <key>sourceSize</key>
                <string>{211,116}</string>
            </dict>
            <key>ho_motorcycle_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,974},{211,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,116}}</string>
                <key>sourceSize</key>
                <string>{211,116}</string>
            </dict>
            <key>ho_motorcycle_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,974},{211,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,116}}</string>
                <key>sourceSize</key>
                <string>{211,116}</string>
            </dict>
            <key>ho_pen_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1257},{177,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>ho_pen_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{181,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,208}}</string>
                <key>sourceSize</key>
                <string>{181,208}</string>
            </dict>
            <key>ho_pen_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,956},{178,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,197}}</string>
                <key>sourceSize</key>
                <string>{178,197}</string>
            </dict>
            <key>ho_pen_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1639},{177,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>ho_pencil_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1640},{173,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,196}}</string>
                <key>sourceSize</key>
                <string>{173,196}</string>
            </dict>
            <key>ho_pencil_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1441},{173,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,196}}</string>
                <key>sourceSize</key>
                <string>{173,196}</string>
            </dict>
            <key>ho_pencil_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1265},{174,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,196}}</string>
                <key>sourceSize</key>
                <string>{174,196}</string>
            </dict>
            <key>ho_pencil_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1265},{174,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,196}}</string>
                <key>sourceSize</key>
                <string>{174,196}</string>
            </dict>
            <key>ho_pizza_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1835},{193,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,145}}</string>
                <key>sourceSize</key>
                <string>{193,145}</string>
            </dict>
            <key>ho_pizza_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1640},{193,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,145}}</string>
                <key>sourceSize</key>
                <string>{193,145}</string>
            </dict>
            <key>ho_pizza_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1640},{193,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,145}}</string>
                <key>sourceSize</key>
                <string>{193,145}</string>
            </dict>
            <key>ho_pizza_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1838},{193,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,145}}</string>
                <key>sourceSize</key>
                <string>{193,145}</string>
            </dict>
            <key>ho_plant_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1092},{152,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,210}}</string>
                <key>sourceSize</key>
                <string>{152,210}</string>
            </dict>
            <key>ho_plant_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,199},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>ho_plant_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,199},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>ho_plant_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,808},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>ho_rose_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1813},{94,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,176}}</string>
                <key>sourceSize</key>
                <string>{94,176}</string>
            </dict>
            <key>ho_rose_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1844},{94,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,176}}</string>
                <key>sourceSize</key>
                <string>{94,176}</string>
            </dict>
            <key>ho_rose_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1844},{94,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,176}}</string>
                <key>sourceSize</key>
                <string>{94,176}</string>
            </dict>
            <key>ho_rose_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1844},{94,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,176}}</string>
                <key>sourceSize</key>
                <string>{94,176}</string>
            </dict>
            <key>ho_saxophone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{198,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,195}}</string>
                <key>sourceSize</key>
                <string>{198,195}</string>
            </dict>
            <key>ho_saxophone_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{198,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,195}}</string>
                <key>sourceSize</key>
                <string>{198,195}</string>
            </dict>
            <key>ho_saxophone_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{198,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,195}}</string>
                <key>sourceSize</key>
                <string>{198,195}</string>
            </dict>
            <key>ho_saxophone_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{198,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,195}}</string>
                <key>sourceSize</key>
                <string>{198,195}</string>
            </dict>
            <key>ho_scissor_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>ho_scissor_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{197,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,198}}</string>
                <key>sourceSize</key>
                <string>{197,198}</string>
            </dict>
            <key>ho_scissor_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>ho_scissor_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>ho_skateboard_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,707},{202,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,119}}</string>
                <key>sourceSize</key>
                <string>{202,119}</string>
            </dict>
            <key>ho_skateboard_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1639},{203,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,119}}</string>
                <key>sourceSize</key>
                <string>{203,119}</string>
            </dict>
            <key>ho_skateboard_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,548},{203,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,119}}</string>
                <key>sourceSize</key>
                <string>{203,119}</string>
            </dict>
            <key>ho_skateboard_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,548},{203,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,119}}</string>
                <key>sourceSize</key>
                <string>{203,119}</string>
            </dict>
            <key>ho_violin_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{204,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,206}}</string>
                <key>sourceSize</key>
                <string>{204,206}</string>
            </dict>
            <key>ho_violin_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,210},{203,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,206}}</string>
                <key>sourceSize</key>
                <string>{203,206}</string>
            </dict>
            <key>ho_violin_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,210},{203,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,206}}</string>
                <key>sourceSize</key>
                <string>{203,206}</string>
            </dict>
            <key>ho_violin_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{203,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,206}}</string>
                <key>sourceSize</key>
                <string>{203,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HiddenObjects.png</string>
            <key>size</key>
            <string>{1251,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71765747369426a1dd990d55aa04b0c8:202a165594904c5041cb3bf21ea307ae:e91fb78bafa32e6ff09691363ee8977a$</string>
            <key>textureFileName</key>
            <string>HiddenObjects.png</string>
        </dict>
    </dict>
</plist>
