<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightbulb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{150,118}}</string>
                <key>offset</key>
                <string>{-25,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{150,118}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>lightbulb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{164,132}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{164,132}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>lightbulb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{166,134}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{166,134}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>lightbulb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,134}}</string>
                <key>offset</key>
                <string>{-27,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{168,134}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>lightbulb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{166,132}}</string>
                <key>offset</key>
                <string>{-27,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{166,132}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightbulb.png</string>
            <key>size</key>
            <string>{826,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d78fbf68ea689fb05db65e84e0ad4f:d6329f12b9c4679f539aa4fe095ffeb6:dda9ca429c25709e2ce39efbfbaf9085$</string>
            <key>textureFileName</key>
            <string>lightbulb.png</string>
        </dict>
    </dict>
</plist>
