<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lb_beam_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1016},{22,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_beam_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1042},{22,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_beam_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1144},{22,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_beam_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1144},{22,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_beam_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,864},{22,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_beam_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1144},{22,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_glows_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1280},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_glows_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1208},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_glows_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1296},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_glows_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1296},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_glows_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1296},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_glows_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_laser_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,894},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_laser_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,746},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_laser_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,598},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_laser_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,450},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_laser_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,302},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_laser_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,154},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_mirror_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,498},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_mirror_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,374},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_mirror_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,744},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{118,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_mirror_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,622},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{118,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_mirror_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,250},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_mirror_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,126},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_mirror_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1042},{126,126}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_mirror_tray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1140,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,230}}</string>
                <key>sourceSize</key>
                <string>{1140,230}</string>
            </dict>
            <key>lb_mirror_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lb_target_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1256},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_target_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1122},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_target_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1036},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_target_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1170},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_target_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,950},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_target_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,864},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lb_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LightBeam.png</string>
            <key>size</key>
            <string>{506,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e1e7ffcb982999d187ddc7c44ecf0c:9d7bc58e6618bd856c672fe46e175695:d76686c4952bbf721faa11f0701ca3ed$</string>
            <key>textureFileName</key>
            <string>LightBeam.png</string>
        </dict>
    </dict>
</plist>
