<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,800},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,534},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,534},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,268},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,268},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,800},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,534},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,268},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,800},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,534},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,268},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>mahjong_front_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,264}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MajongMemory.png</string>
            <key>size</key>
            <string>{932,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:398b2eaee9faa392dc467696b59fba7f:ee8da969f06921b93bb95572f10edcb6:1ba094bd9b18b2d01f33e33851db8dfa$</string>
            <key>textureFileName</key>
            <string>MajongMemory.png</string>
        </dict>
    </dict>
</plist>
