<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mp_highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_letter_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_shape_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>mp_tile_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MatchingPairs.png</string>
            <key>size</key>
            <string>{2037,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6131fd3a09ba5efa3c4c2ddd79ce29d5:bd79b205ad8f035aef70ecc9fa4cac93:cf15d52cb9937df78e26de7ebed075e2$</string>
            <key>textureFileName</key>
            <string>MatchingPairs.png</string>
        </dict>
    </dict>
</plist>
