<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ms_blue_12_sided_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,560},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_4_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,842},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{133,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_4_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,699},{137,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{137,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_5_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,701},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_6_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,558},{135,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_6_pointed_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,840},{127,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{127,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_6_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,558},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{135,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_7_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_blue_hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,830},{129,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{129,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_12_sided_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_4_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,695},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{133,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_4_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,840},{137,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{137,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_5_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,141},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_6_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,828},{135,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_6_pointed_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,701},{127,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{127,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_6_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{135,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_7_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,143},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,280},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_green_hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,699},{129,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{129,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_12_sided_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,421},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_4_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,556},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{133,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_4_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{137,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{137,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_5_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,562},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_6_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,691},{135,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_6_pointed_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,560},{127,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{127,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_6_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,141},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{135,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_7_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_pink_hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,558},{129,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{129,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_12_sided_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_4_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,280},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{133,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_4_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,141},{137,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{137,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_5_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,141},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_6_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,141},{135,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_6_pointed_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,417},{127,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{127,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_6_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,280},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{135,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_7_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,282},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_purple_hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,417},{129,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{129,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_12_sided_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,423},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_4_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,834},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{133,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_4_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,280},{137,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{137,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_5_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_6_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,280},{135,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_6_pointed_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,419},{127,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{127,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_6_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,419},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{135,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_7_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_red_hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,840},{129,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{129,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_12_sided_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,143},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_4_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,697},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{133,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_4_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,419},{137,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{137,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_5_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,284},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_6_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,419},{135,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,135}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_6_pointed_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,697},{127,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{127,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_6_pointed_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,558},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{135,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_7_pointed_blob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,137}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>ms_yellow_hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,826},{129,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{129,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MatchingShapes.png</string>
            <key>size</key>
            <string>{1235,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f53fa25990bb6425b707f5b33f33606c:e600b74f9dd94cce738a82df71adb5d6:0b6ddba005d886b3d2f15a941be85d88$</string>
            <key>textureFileName</key>
            <string>MatchingShapes.png</string>
        </dict>
    </dict>
</plist>
