<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,361},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>bubble_equation_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,543},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>bubble_numbers_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,947},{69,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,841},{47,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{47,88}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,855},{69,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,749},{69,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,933},{67,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,88}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,841},{63,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,933},{65,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,947},{67,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,88}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,855},{67,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,841},{65,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>bubble_numbers_negative.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,643},{50,27}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,47},{50,27}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>bubble_pop_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,361},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rounded_rectangle_and_equalsSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{357,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,223}}</string>
                <key>sourceSize</key>
                <string>{357,223}</string>
            </dict>
            <key>totals_numbers_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,132},{94,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,128}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,793},{60,124}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,262},{94,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,126}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{94,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,128}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,749},{90,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,124}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,663},{84,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{84,126}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,575},{86,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,126}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,701},{90,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,124}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,395},{90,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,128}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,487},{86,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,126}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>totals_numbers_negative.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,575},{66,30}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,73},{66,30}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>water_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,577}}</string>
                <key>sourceSize</key>
                <string>{1024,577}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MathBubbles.png</string>
            <key>size</key>
            <string>{904,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57f9883e2a5fa205ad633439dac4f5a6:bdd7505872580e3a9435461d91c1c836:8960172644d0db8804fb06b707252eed$</string>
            <key>textureFileName</key>
            <string>MathBubbles.png</string>
        </dict>
    </dict>
</plist>
