<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_1_0_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1889},{132,131}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{132,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_0_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1488},{134,133}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{134,133}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1756},{132,131}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{132,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_11_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1756},{132,131}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{132,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_12_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1623},{132,131}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{132,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_13_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1488},{132,131}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{132,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_14_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1339},{132,131}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{132,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_15_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1115},{132,131}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{132,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_16_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1623},{132,131}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{132,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,537},{134,133}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{134,133}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_1_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1980},{62,133}}</string>
                <key>offset</key>
                <string>{-36,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{62,133}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1349},{150,137}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_2_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1980},{62,133}}</string>
                <key>offset</key>
                <string>{-36,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{62,133}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1197},{150,137}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_3_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,402},{134,133}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{134,133}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1058},{150,137}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_4_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1756},{128,71}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{128,71}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,976},{150,137}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_5_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1889},{130,131}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{130,131}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_6_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,824},{150,137}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_6_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{132,33}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,53},{132,33}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_7_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,672},{150,137}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_7_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1248},{132,89}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{132,89}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_8_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,267},{134,133}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{134,133}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_1_9_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,890},{142,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>mm_2_0_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,332},{291,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,111}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_0_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{265,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{265,65}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_10_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1632},{263,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{263,105}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_11_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1525},{263,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{263,105}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,332},{285,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{285,63}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_1_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1491},{253,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{253,65}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1204},{285,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{285,63}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_2_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,625},{263,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{263,65}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_3_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1913},{275,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{275,65}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_4_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1418},{263,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{263,105}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_5_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1311},{263,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{263,105}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_6_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,625},{263,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{263,105}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_7_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1739},{261,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{261,105}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_8_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{263,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{263,105}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_2_9_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{263,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{263,105}}</string>
                <key>sourceSize</key>
                <string>{291,111}</string>
            </dict>
            <key>mm_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>mm_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>mm_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>mm_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{328,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{328,144}}</string>
                <key>sourceSize</key>
                <string>{342,144}</string>
            </dict>
            <key>mm_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{326,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{326,144}}</string>
                <key>sourceSize</key>
                <string>{342,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MemoryMachine.png</string>
            <key>size</key>
            <string>{668,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd176f32a79ea5ab36dbe393e229f4a:d43aa980da42910bd686b529f3d40f7d:cde1ee0ae648aa6cbb5632af1f224bf0$</string>
            <key>textureFileName</key>
            <string>MemoryMachine.png</string>
        </dict>
    </dict>
</plist>
