<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1120},{232,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,896},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{232,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,220}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,672},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{232,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,448},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,224},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_keypad_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>mm_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,15}}</string>
                <key>sourceSize</key>
                <string>{232,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MemoryMath.png</string>
            <key>size</key>
            <string>{470,1344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f04d27c30fe5e7d2e8827cb3fb2f2e5:dc5a2bbde7ce1aa8755dc953657bb7fd:a351ea927487156c321da64fed34b3b1$</string>
            <key>textureFileName</key>
            <string>MemoryMath.png</string>
        </dict>
    </dict>
</plist>
