<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>md_diagonal_mirror.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{1217,1201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1217,1201}}</string>
                <key>sourceSize</key>
                <string>{1217,1201}</string>
            </dict>
            <key>md_mirror.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1204,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1204,630}}</string>
                <key>sourceSize</key>
                <string>{1204,630}</string>
            </dict>
            <key>md_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MirrorDrawing.png</string>
            <key>size</key>
            <string>{1899,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24b82443cdfd049afac68843b1721582:1461c98086025ca9b5631e09642b650a:eae07b1cd1cabc61987e9c5ac99ddfc5$</string>
            <key>textureFileName</key>
            <string>MirrorDrawing.png</string>
        </dict>
    </dict>
</plist>
