<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_ipad_shape_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1021},{91,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{91,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1595},{145,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{145,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{169,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{169,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,356},{115,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{115,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1241},{175,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{175,139}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{133,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{133,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1418},{137,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{137,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{175,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{175,169}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1297},{157,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{157,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1375},{175,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{175,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,311},{173,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1756},{175,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{175,141}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1613},{175,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{175,145}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1198},{81,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{81,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1899},{129,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{129,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,533},{175,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{175,109}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1138},{175,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{175,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{163,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{163,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,667},{175,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{175,95}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,313},{175,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{175,101}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1552},{175,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{175,71}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1064},{129,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{129,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,844},{175,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{175,93}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1772},{131,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{131,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{155,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{155,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{175,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{175,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,655},{161,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{161,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,179},{115,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{115,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,818},{175,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{175,159}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{157,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{157,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1456},{151,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{151,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,136},{175,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,173}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{159,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{159,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,136},{175,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{175,101}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{175,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{175,111}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,979},{175,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{175,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1609},{175,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{175,145}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,887},{175,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{175,107}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,490},{175,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{175,95}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,710},{107,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{107,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1895},{131,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{131,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{155,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{155,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>M_ipad_shape_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,486},{175,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{175,167}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>ingame_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,69},{229,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,65}}</string>
                <key>sourceSize</key>
                <string>{229,65}</string>
            </dict>
            <key>ingame_btn_blue_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{229,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,65}}</string>
                <key>sourceSize</key>
                <string>{229,65}</string>
            </dict>
            <key>ingame_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{229,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,65}}</string>
                <key>sourceSize</key>
                <string>{229,65}</string>
            </dict>
            <key>ingame_btn_green_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,65}}</string>
                <key>sourceSize</key>
                <string>{229,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mirror.png</string>
            <key>size</key>
            <string>{580,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f070f0358886a2c876de9a569c6d2119:c9c0dd79c2f44f1a07a978c6aca5cd5a:66742fa1f9c64fb72e25faebc5fbb860$</string>
            <key>textureFileName</key>
            <string>Mirror.png</string>
        </dict>
    </dict>
</plist>
