<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mouth_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{103,42}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,62},{103,42}}</string>
                <key>sourceSize</key>
                <string>{185,162}</string>
            </dict>
            <key>mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,62},{119,56}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{119,56}}</string>
                <key>sourceSize</key>
                <string>{185,162}</string>
            </dict>
            <key>mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{123,58}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{123,58}}</string>
                <key>sourceSize</key>
                <string>{185,162}</string>
            </dict>
            <key>mouth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,66}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,49},{131,66}}</string>
                <key>sourceSize</key>
                <string>{185,162}</string>
            </dict>
            <key>mouth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,62}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,53},{131,62}}</string>
                <key>sourceSize</key>
                <string>{185,162}</string>
            </dict>
            <key>mouth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{115,54}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{115,54}}</string>
                <key>sourceSize</key>
                <string>{185,162}</string>
            </dict>
            <key>mouth_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,66},{107,52}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,59},{107,52}}</string>
                <key>sourceSize</key>
                <string>{185,162}</string>
            </dict>
            <key>mouth_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,62},{117,56}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{117,56}}</string>
                <key>sourceSize</key>
                <string>{185,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mouth.png</string>
            <key>size</key>
            <string>{510,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f36a34c319ac6fe0647bfd2a253cd1d7:c57b2cc5b900f7225d9cc7fbe64b364e:c918565f221779196264354278cb0c3b$</string>
            <key>textureFileName</key>
            <string>mouth.png</string>
        </dict>
    </dict>
</plist>
