<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NO_iPad_apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,615},{105,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{105,107}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{87,117}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{87,117}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_basketball.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,265},{107,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{107,103}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{127,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,29},{127,85}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_bike_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,301},{111,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{111,79}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_bike_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,109},{111,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{111,79}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_bird_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1109},{111,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,23},{111,97}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_bird_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,382},{111,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{111,97}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_bouy_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,522},{91,109}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{91,109}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_bouy_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,835},{91,109}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{91,109}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_boxing_glove_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,508},{109,105}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{109,105}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_boxing_glove_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,400},{109,105}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{109,105}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_broccoli.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1222},{97,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{97,107}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_button_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{143,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{143,141}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_button_hilite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{143,141}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_car_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,748},{121,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,46},{121,49}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_car_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,103},{121,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{121,49}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,722},{97,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{97,111}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_cherry.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1232},{95,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{95,97}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_cow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{121,87}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,27},{121,87}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_crab.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,641},{111,71}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,40},{111,71}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_cross_walk_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,618},{109,109}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{109,109}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{117,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{117,97}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_donut_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,615},{107,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{107,105}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_donut_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,236},{107,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{107,105}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_dumbell_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,729},{115,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{115,79}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_dumbell_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,370},{115,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{115,79}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_fire_truck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{121,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,23},{121,97}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_fox_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,938},{111,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{111,85}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_fox_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,825},{111,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{111,85}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_frisbee_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1215},{109,75}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,31},{109,75}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_frisbee_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{109,75}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{109,75}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_lady_bug.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,722},{99,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{99,101}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_lemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1051},{107,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,32},{107,79}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_lifebouy_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,190},{107,109}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{107,109}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_lifebouy_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,154},{107,109}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{107,109}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_lime.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,754},{107,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,32},{107,79}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,966},{85,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{85,107}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,946},{87,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{87,101}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_pig.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,846},{111,71}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,35},{111,71}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_plane_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,451},{121,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{121,55}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_plane_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,343},{121,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{121,55}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_potato.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,863},{89,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{89,101}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_punching_bag_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,522},{45,117}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{45,117}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_punching_bag_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,990},{45,117}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{45,117}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_rabbit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{87,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{87,113}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_salmon.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1160},{111,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{111,65}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_school_bus.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,871},{117,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,41},{117,61}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_seagull.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,121},{107,113}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{107,113}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_skateboard_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1174},{121,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,52},{121,39}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_skateboard_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1109},{121,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,52},{121,39}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_skateboard_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,481},{121,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,52},{121,39}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_slow_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,507},{109,109}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{109,109}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_squid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{121,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{121,105}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_squirrel.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1331},{107,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{107,97}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_stop_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{117,117}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_submarine.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{121,99}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{121,99}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_surfboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,990},{117,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{117,59}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_tennis_ball_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1075},{97,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{97,97}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_tennis_ball_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1331},{97,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{97,97}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_tomato.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{117,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{117,87}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_traffic_cone.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{105,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{105,113}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_tug_boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1049},{109,85}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{109,85}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_under_construction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{109,109}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{109,109}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_wagon_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1326},{101,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,33},{101,77}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_wagon_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1330},{101,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{101,77}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>NO_iPad_wagon_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1227},{101,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,33},{101,77}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NotOther.png</string>
            <key>size</key>
            <string>{505,1430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aedd7c47549268dccb2342819ff2f20d:fde559656f97f2d6186ea6edcc2dcaf8:0611f8a6b5172f0b363d639a84698783$</string>
            <key>textureFileName</key>
            <string>NotOther.png</string>
        </dict>
    </dict>
</plist>
