<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_goal_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,118},{56,56}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{56,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_goal_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,60},{56,56}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{56,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_goal_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{56,56}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{56,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_I_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_I_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_I_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_L_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_L_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_L_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_T_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_T_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_T_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_X_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_X_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_X_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_broken_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_broken_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_broken_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_littleI_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_littleI_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_segment_littleI_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_start_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,264},{42,56}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,52},{42,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_start_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,220},{42,56}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,52},{42,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pd_start_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,176},{42,56}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,52},{42,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PipeDream.png</string>
            <key>size</key>
            <string>{1518,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be554e570b1c79e2444747caf8fadb14:48e9c56266a57f9afb07b20ff9f3353b:a149c9affea13510e579a296959ba720$</string>
            <key>textureFileName</key>
            <string>PipeDream.png</string>
        </dict>
    </dict>
</plist>
