<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RB_btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,632},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>RB_btn_next_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,545},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>RB_btn_prev.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,554},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>RB_btn_prev_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,554},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>RB_btn_submit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{141,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,48}}</string>
                <key>sourceSize</key>
                <string>{141,48}</string>
            </dict>
            <key>RB_btn_submit_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{141,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,48}}</string>
                <key>sourceSize</key>
                <string>{141,48}</string>
            </dict>
            <key>RB_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,360}}</string>
                <key>sourceSize</key>
                <string>{450,360}</string>
            </dict>
            <key>RB_shape_blue_sphere_polkadotted.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,454},{85,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{85,85}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>RB_shape_brown_oval_checkered diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,682},{83,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{83,85}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>RB_shape_green_hexagon_vertical striped.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,541},{79,89}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{79,89}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>RB_shape_orange_pentagon_checkered.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{87,83}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{87,83}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>RB_shape_pink_octagon_grid-patterned.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{87,87}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{87,87}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>RB_shape_purple_triangle_horizontal striped.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,682},{83,73}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{83,73}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>RB_shape_red_cross_diagonal striped.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,454},{89,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,89}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>RB_shape_yellow_diamond_wavy.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,666},{79,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{79,89}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ReadingBlocks.png</string>
            <key>size</key>
            <string>{364,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe56598d670457fd169e6809cfd68685:d6410476a988e0d342f8971b604bacd7:a45310069404a0cd56cb935da60f0c02$</string>
            <key>textureFileName</key>
            <string>ReadingBlocks.png</string>
        </dict>
    </dict>
</plist>
