<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rt_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,657},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>rt_arrow_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,588},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>rt_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,745}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,745}}</string>
                <key>sourceSize</key>
                <string>{1024,745}</string>
            </dict>
            <key>rt_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,788},{594,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{594,150}}</string>
                <key>sourceSize</key>
                <string>{602,158}</string>
            </dict>
            <key>rt_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,2},{584,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{584,140}}</string>
                <key>sourceSize</key>
                <string>{602,158}</string>
            </dict>
            <key>rt_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{778,784}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,784}}</string>
                <key>sourceSize</key>
                <string>{778,784}</string>
            </dict>
            <key>rt_longhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,825},{33,271}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,271}}</string>
                <key>sourceSize</key>
                <string>{35,271}</string>
            </dict>
            <key>rt_selected_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{1024,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,248}}</string>
                <key>sourceSize</key>
                <string>{1024,248}</string>
            </dict>
            <key>rt_shorthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,788},{35,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,190}}</string>
                <key>sourceSize</key>
                <string>{35,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RememberTime.png</string>
            <key>size</key>
            <string>{1950,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a318e09197f88b7c18e2efc2517afbf5:2da5c1eb3ff1f6204e1c6884c1a28ddd:4ce108e931adb01cd48b24b8d9fa6da9$</string>
            <key>textureFileName</key>
            <string>RememberTime.png</string>
        </dict>
    </dict>
</plist>
