<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stringrecall_blue_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,482},{118,136}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{118,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1020},{110,130}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,44},{110,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,602},{116,136}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,41},{116,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,888},{116,130}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{116,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_E.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1313},{104,130}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,44},{104,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_F.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1016},{98,132}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,750},{124,136}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{124,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_H.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,742},{114,136}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{114,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_I.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1150},{32,136}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,40},{32,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1419},{88,136}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{88,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_blue_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,236},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,916},{98,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1016},{62,132}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,44},{62,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1150},{96,130}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{96,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1386},{94,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{94,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1429},{104,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{104,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1520},{94,130}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,46},{94,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1386},{98,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1520},{98,130}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{98,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1286},{98,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1152},{98,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_ampersand.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1301},{112,126}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{112,126}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_at.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{136,128}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,42},{136,128}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,132},{122,140}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{122,140}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,368},{112,146}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,33},{112,146}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1563},{70,136}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,39},{70,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,128},{132,124}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,45},{132,124}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_percent.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,274},{122,132}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,40},{122,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_pound.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1152},{116,118}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,47},{116,118}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1524},{76,122}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,45},{76,122}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_orange_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,746},{118,140}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{118,140}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1053},{118,136}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{118,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1061},{110,130}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,44},{110,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,486},{116,136}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,41},{116,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,888},{116,130}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{116,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_E.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1020},{104,130}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{104,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_F.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1386},{98,132}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,612},{124,136}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{124,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_H.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,604},{114,136}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{114,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_I.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1386},{32,136}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,40},{32,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,923},{88,136}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{88,136}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_red_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_target_bg_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{919,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{919,220}}</string>
                <key>sourceSize</key>
                <string>{919,220}</string>
            </dict>
            <key>stringrecall_target_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1160,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1160,282}}</string>
                <key>sourceSize</key>
                <string>{1160,282}</string>
            </dict>
            <key>stringrecall_teal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1286},{98,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,852},{62,132}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,44},{62,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,888},{96,130}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{96,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1413},{94,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{94,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,470},{104,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{104,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1020},{94,130}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,46},{94,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1313},{98,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1520},{98,130}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{98,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1429},{98,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1152},{98,132}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,44},{98,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_ampersand.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1173},{112,126}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{112,126}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_at.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,923},{136,128}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,42},{136,128}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,470},{122,140}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{122,140}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,254},{112,146}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,33},{112,146}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1173},{70,138}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,37},{70,138}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{132,124}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,45},{132,124}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_percent.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,720},{122,130}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,41},{122,130}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_pound.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1193},{116,118}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{116,118}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,408},{76,122}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,46},{76,122}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stringrecall_teal_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,604},{118,140}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{118,140}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StringRecall.png</string>
            <key>size</key>
            <string>{1014,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b4ccb4c0dcbde5ccd20e9beb3b2f246:626fb245c201f610fae6178127573805:b91148445b708dee5861a21f970c994f$</string>
            <key>textureFileName</key>
            <string>StringRecall.png</string>
        </dict>
    </dict>
</plist>
