<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r_answer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,632},{444,246}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{444,246}}</string>
                <key>sourceSize</key>
                <string>{446,248}</string>
            </dict>
            <key>r_btn_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{602,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,158}}</string>
                <key>sourceSize</key>
                <string>{602,158}</string>
            </dict>
            <key>r_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{584,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{584,140}}</string>
                <key>sourceSize</key>
                <string>{602,158}</string>
            </dict>
            <key>r_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{602,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,158}}</string>
                <key>sourceSize</key>
                <string>{602,158}</string>
            </dict>
            <key>r_equalizer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,290},{286,628}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,628}}</string>
                <key>sourceSize</key>
                <string>{290,632}</string>
            </dict>
            <key>r_equalizer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{286,628}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,628}}</string>
                <key>sourceSize</key>
                <string>{290,632}</string>
            </dict>
            <key>r_equalizer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{286,628}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,628}}</string>
                <key>sourceSize</key>
                <string>{290,632}</string>
            </dict>
            <key>r_equalizer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{286,628}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,628}}</string>
                <key>sourceSize</key>
                <string>{290,632}</string>
            </dict>
            <key>r_equalizer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{286,628}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,628}}</string>
                <key>sourceSize</key>
                <string>{290,632}</string>
            </dict>
            <key>r_equalizer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,628}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,628}}</string>
                <key>sourceSize</key>
                <string>{290,632}</string>
            </dict>
            <key>r_equalizer_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,578},{256,600}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{256,600}}</string>
                <key>sourceSize</key>
                <string>{290,632}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Rhythms.png</string>
            <key>size</key>
            <string>{1998,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ad37e61b750b82ec8b7b6aa593afa7:d3434426abcf9387542973a7bbe6578a:48251594965f8c2cf7e30487c02512e4$</string>
            <key>textureFileName</key>
            <string>Rhythms.png</string>
        </dict>
    </dict>
</plist>
