<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RPS_button_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,826},{286,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,285}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_button_hilite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,538},{286,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,285}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1868},{222,143}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,79},{222,143}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1710},{156,223}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,29},{156,223}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1868},{222,141}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,71},{222,141}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1710},{180,159}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,64},{180,159}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1636},{206,207}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{206,207}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1636},{226,189}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{226,189}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1827},{184,163}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,62},{184,163}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{210,213}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{210,213}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_icon_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1794},{230,193}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{230,193}}</string>
                <key>sourceSize</key>
                <string>{286,285}</string>
            </dict>
            <key>RPS_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{758,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,638}}</string>
                <key>sourceSize</key>
                <string>{758,638}</string>
            </dict>
            <key>RPS_target_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1246},{462,364}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,179},{462,364}}</string>
                <key>sourceSize</key>
                <string>{758,638}</string>
            </dict>
            <key>RPS_target_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{532,534}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{532,534}}</string>
                <key>sourceSize</key>
                <string>{758,638}</string>
            </dict>
            <key>RPS_target_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{602,456}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,93},{602,456}}</string>
                <key>sourceSize</key>
                <string>{758,638}</string>
            </dict>
            <key>RPS_target_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1246},{478,388}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,169},{478,388}}</string>
                <key>sourceSize</key>
                <string>{758,638}</string>
            </dict>
            <key>RPS_target_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{554,546}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,52},{554,546}}</string>
                <key>sourceSize</key>
                <string>{758,638}</string>
            </dict>
            <key>RPS_target_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,642},{602,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,94},{602,450}}</string>
                <key>sourceSize</key>
                <string>{758,638}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RPS.png</string>
            <key>size</key>
            <string>{1306,2013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b9a2806f8e6caff4c2aa3cc15917dbe:4d5cb2b444877ff334c19dd4938e4a82:73cadd2db974a49da4f480a87aab477a$</string>
            <key>textureFileName</key>
            <string>RPS.png</string>
        </dict>
    </dict>
</plist>
