<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SB_iPad_pivot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{290,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,38}}</string>
                <key>sourceSize</key>
                <string>{290,38}</string>
            </dict>
            <key>SB_iPad_scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>SB_iPad_shapes_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,138},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SB_iPad_shapes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,76},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SB_iPad_shapes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,138},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SB_iPad_shapes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,76},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SB_iPad_shapes_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,138},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SB_iPad_shapes_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,76},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SB_iPad_shapes_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SB_iPad_small_scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{250,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,72}}</string>
                <key>sourceSize</key>
                <string>{250,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ScaleBalance.png</string>
            <key>size</key>
            <string>{478,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a22b3ab21e4ec3843829b0632c47f39:728f48695bf5a49c16e9f8e2a76ad782:7def2074b4f0e29cc8bb7ae1bbd08f78$</string>
            <key>textureFileName</key>
            <string>ScaleBalance.png</string>
        </dict>
    </dict>
</plist>
