<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shake_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{295,352}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,352}}</string>
                <key>sourceSize</key>
                <string>{369,428}</string>
            </dict>
            <key>shake_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,352}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,43},{295,352}}</string>
                <key>sourceSize</key>
                <string>{369,428}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shake.png</string>
            <key>size</key>
            <string>{596,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bf9cbd09d311e173e062732a1138e29:4aa2a7d4da7d757d0154d7eb310f2c8a:59623becf57f3f38cc1ec174950288eb$</string>
            <key>textureFileName</key>
            <string>shake.png</string>
        </dict>
    </dict>
</plist>
