<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SP_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,842},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1448},{208,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{208,186}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{208,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{208,186}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{208,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{208,186}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,632},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,422},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1250},{208,196}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,196}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{208,196}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,196}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1052},{208,196}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,196}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1992},{30,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,93},{30,30}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1360},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1266},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1172},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1078},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,218},{94,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{94,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1852},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1852},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1744},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1490},{30,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,93},{30,30}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,984},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,890},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,796},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,702},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,110},{94,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{94,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1744},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1852},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1636},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1960},{30,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,93},{30,30}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,608},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,514},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,420},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,326},{94,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,92}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{94,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{94,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1636},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1744},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_dice_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1636},{100,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{100,106}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_underscore_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1478},{94,10}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,165},{94,10}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_underscore_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1466},{94,10}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,165},{94,10}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>SP_underscore_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1454},{94,10}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,165},{94,10}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShapePopper.png</string>
            <key>size</key>
            <string>{518,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2d4431f444817a1c18371b778cc6eae:0d9ec3a0aa7225e75fe6b2e340cbe427:2dc914e5e6bc083cdb1ac0888b98f467$</string>
            <key>textureFileName</key>
            <string>ShapePopper.png</string>
        </dict>
    </dict>
</plist>
