<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SC_shape_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,44},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,2},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_white_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,44},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_white_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_white_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_white_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_white_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_shape_white_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,44},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SC_slider_arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{528,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,83}}</string>
                <key>sourceSize</key>
                <string>{528,83}</string>
            </dict>
            <key>SC_tail_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{40,164}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,164}}</string>
                <key>sourceSize</key>
                <string>{40,180}</string>
            </dict>
            <key>SC_tail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{40,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,178}}</string>
                <key>sourceSize</key>
                <string>{40,180}</string>
            </dict>
            <key>SC_tail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,44},{40,160}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,160}}</string>
                <key>sourceSize</key>
                <string>{40,180}</string>
            </dict>
            <key>SC_tail_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,44},{40,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,174}}</string>
                <key>sourceSize</key>
                <string>{40,180}</string>
            </dict>
            <key>SC_tail_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,44},{40,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,174}}</string>
                <key>sourceSize</key>
                <string>{40,180}</string>
            </dict>
            <key>SC_tail_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{40,150}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,150}}</string>
                <key>sourceSize</key>
                <string>{40,180}</string>
            </dict>
            <key>SC_tail_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,2},{40,160}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,160}}</string>
                <key>sourceSize</key>
                <string>{40,180}</string>
            </dict>
            <key>SC_tail_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,44},{40,148}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,148}}</string>
                <key>sourceSize</key>
                <string>{40,180}</string>
            </dict>
            <key>SC_tray.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{208,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,74}}</string>
                <key>sourceSize</key>
                <string>{208,74}</string>
            </dict>
            <key>SC_tray_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,44},{41,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,74}}</string>
                <key>sourceSize</key>
                <string>{41,74}</string>
            </dict>
            <key>SC_tray_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{126,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,74}}</string>
                <key>sourceSize</key>
                <string>{126,74}</string>
            </dict>
            <key>SC_tray_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,44},{41,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,74}}</string>
                <key>sourceSize</key>
                <string>{41,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShapeCatch.png</string>
            <key>size</key>
            <string>{1940,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16dcbc6826cfeeeb2f10f518ae3f93ba:7b9ab095ef014ca30b081e68ecc04ce1:acfd3f8ea0cb892cef39576683ebf8ce$</string>
            <key>textureFileName</key>
            <string>ShapeCatch.png</string>
        </dict>
    </dict>
</plist>
