<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,769},{91,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,172}}</string>
                <key>sourceSize</key>
                <string>{91,172}</string>
            </dict>
            <key>s_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,960},{154,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,133}}</string>
                <key>sourceSize</key>
                <string>{154,133}</string>
            </dict>
            <key>s_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1097},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>s_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,785},{148,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,88}}</string>
                <key>sourceSize</key>
                <string>{148,88}</string>
            </dict>
            <key>s_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1113},{129,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,87}}</string>
                <key>sourceSize</key>
                <string>{129,87}</string>
            </dict>
            <key>s_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,992},{149,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,104}}</string>
                <key>sourceSize</key>
                <string>{149,104}</string>
            </dict>
            <key>s_black_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,795},{76,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,141}}</string>
                <key>sourceSize</key>
                <string>{76,141}</string>
            </dict>
            <key>s_black_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,504},{129,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,134}}</string>
                <key>sourceSize</key>
                <string>{129,134}</string>
            </dict>
            <key>s_black_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,979},{138,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,97}}</string>
                <key>sourceSize</key>
                <string>{138,97}</string>
            </dict>
            <key>s_black_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1014},{97,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,138}</string>
            </dict>
            <key>s_black_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,495},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>s_black_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,696},{86,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,162}}</string>
                <key>sourceSize</key>
                <string>{86,162}</string>
            </dict>
            <key>s_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,743},{97,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,160}}</string>
                <key>sourceSize</key>
                <string>{97,160}</string>
            </dict>
            <key>s_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,962},{103,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,122}}</string>
                <key>sourceSize</key>
                <string>{103,122}</string>
            </dict>
            <key>s_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,842},{130,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,148}}</string>
                <key>sourceSize</key>
                <string>{130,148}</string>
            </dict>
            <key>s_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,732},{144,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,100}}</string>
                <key>sourceSize</key>
                <string>{144,100}</string>
            </dict>
            <key>s_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,887},{146,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,90}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>s_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1086},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>s_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,784},{124,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,129}}</string>
                <key>sourceSize</key>
                <string>{124,129}</string>
            </dict>
            <key>s_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,640},{143,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,117}}</string>
                <key>sourceSize</key>
                <string>{143,117}</string>
            </dict>
            <key>s_blackpuzzle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{328,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,334}}</string>
                <key>sourceSize</key>
                <string>{328,334}</string>
            </dict>
            <key>s_blackpuzzle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,2},{266,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,356}}</string>
                <key>sourceSize</key>
                <string>{266,356}</string>
            </dict>
            <key>s_blackpuzzle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,233},{223,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,278}}</string>
                <key>sourceSize</key>
                <string>{223,278}</string>
            </dict>
            <key>s_blackpuzzle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,270},{340,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,223}}</string>
                <key>sourceSize</key>
                <string>{340,223}</string>
            </dict>
            <key>s_blackpuzzle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,458},{236,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,274}}</string>
                <key>sourceSize</key>
                <string>{236,274}</string>
            </dict>
            <key>s_blackpuzzle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,495},{256,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,179}}</string>
                <key>sourceSize</key>
                <string>{256,179}</string>
            </dict>
            <key>s_fullpuzzle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,340}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,340}}</string>
                <key>sourceSize</key>
                <string>{333,342}</string>
            </dict>
            <key>s_fullpuzzle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{270,362}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,362}}</string>
                <key>sourceSize</key>
                <string>{272,364}</string>
            </dict>
            <key>s_fullpuzzle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,2},{228,284}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,284}}</string>
                <key>sourceSize</key>
                <string>{228,286}</string>
            </dict>
            <key>s_fullpuzzle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,2},{344,229}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,229}}</string>
                <key>sourceSize</key>
                <string>{346,231}</string>
            </dict>
            <key>s_fullpuzzle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,680},{241,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,281}}</string>
                <key>sourceSize</key>
                <string>{241,281}</string>
            </dict>
            <key>s_fullpuzzle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,509},{261,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,185}}</string>
                <key>sourceSize</key>
                <string>{261,187}</string>
            </dict>
            <key>s_normal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,676},{91,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,172}}</string>
                <key>sourceSize</key>
                <string>{91,172}</string>
            </dict>
            <key>s_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,711},{154,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,133}}</string>
                <key>sourceSize</key>
                <string>{154,133}</string>
            </dict>
            <key>s_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,915},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>s_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,834},{148,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,88}}</string>
                <key>sourceSize</key>
                <string>{148,88}</string>
            </dict>
            <key>s_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1078},{129,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,87}}</string>
                <key>sourceSize</key>
                <string>{129,87}</string>
            </dict>
            <key>s_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,834},{149,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,104}}</string>
                <key>sourceSize</key>
                <string>{149,104}</string>
            </dict>
            <key>s_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,676},{76,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,141}}</string>
                <key>sourceSize</key>
                <string>{76,141}</string>
            </dict>
            <key>s_normal_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,368},{129,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,134}}</string>
                <key>sourceSize</key>
                <string>{129,134}</string>
            </dict>
            <key>s_normal_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,915},{138,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,97}}</string>
                <key>sourceSize</key>
                <string>{138,97}</string>
            </dict>
            <key>s_normal_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,985},{97,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,138}</string>
            </dict>
            <key>s_normal_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,470},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>s_normal_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,696},{86,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,162}}</string>
                <key>sourceSize</key>
                <string>{86,162}</string>
            </dict>
            <key>s_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,696},{97,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,160}}</string>
                <key>sourceSize</key>
                <string>{97,160}</string>
            </dict>
            <key>s_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,857},{103,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,122}}</string>
                <key>sourceSize</key>
                <string>{103,122}</string>
            </dict>
            <key>s_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,968},{130,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,148}}</string>
                <key>sourceSize</key>
                <string>{130,148}</string>
            </dict>
            <key>s_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,630},{144,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,100}}</string>
                <key>sourceSize</key>
                <string>{144,100}</string>
            </dict>
            <key>s_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,795},{146,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,90}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>s_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,979},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>s_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,784},{124,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,129}}</string>
                <key>sourceSize</key>
                <string>{124,129}</string>
            </dict>
            <key>s_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,495},{143,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,117}}</string>
                <key>sourceSize</key>
                <string>{143,117}</string>
            </dict>
            <key>s_yellow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,867},{91,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,172}}</string>
                <key>sourceSize</key>
                <string>{91,172}</string>
            </dict>
            <key>s_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,495},{154,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,133}}</string>
                <key>sourceSize</key>
                <string>{154,133}</string>
            </dict>
            <key>s_yellow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1100},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>s_yellow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,842},{148,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,88}}</string>
                <key>sourceSize</key>
                <string>{148,88}</string>
            </dict>
            <key>s_yellow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1014},{129,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,87}}</string>
                <key>sourceSize</key>
                <string>{129,87}</string>
            </dict>
            <key>s_yellow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,862},{149,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,104}}</string>
                <key>sourceSize</key>
                <string>{149,104}</string>
            </dict>
            <key>s_yellow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,602},{76,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,141}}</string>
                <key>sourceSize</key>
                <string>{76,141}</string>
            </dict>
            <key>s_yellow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,232},{129,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,134}}</string>
                <key>sourceSize</key>
                <string>{129,134}</string>
            </dict>
            <key>s_yellow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,640},{138,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,97}}</string>
                <key>sourceSize</key>
                <string>{138,97}</string>
            </dict>
            <key>s_yellow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,992},{97,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,138}</string>
            </dict>
            <key>s_yellow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>s_yellow_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1116},{86,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,162}}</string>
                <key>sourceSize</key>
                <string>{86,162}</string>
            </dict>
            <key>s_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,644},{97,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,160}}</string>
                <key>sourceSize</key>
                <string>{97,160}</string>
            </dict>
            <key>s_yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1017},{103,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,122}}</string>
                <key>sourceSize</key>
                <string>{103,122}</string>
            </dict>
            <key>s_yellow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,338},{130,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,148}}</string>
                <key>sourceSize</key>
                <string>{130,148}</string>
            </dict>
            <key>s_yellow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1100},{144,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,100}}</string>
                <key>sourceSize</key>
                <string>{144,100}</string>
            </dict>
            <key>s_yellow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,619},{146,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,90}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>s_yellow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,739},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>s_yellow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,974},{124,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,129}}</string>
                <key>sourceSize</key>
                <string>{124,129}</string>
            </dict>
            <key>s_yellow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1044},{143,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,117}}</string>
                <key>sourceSize</key>
                <string>{143,117}</string>
            </dict>
            <key>s_yellowpuzzle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{328,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,334}}</string>
                <key>sourceSize</key>
                <string>{328,334}</string>
            </dict>
            <key>s_yellowpuzzle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{266,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,356}}</string>
                <key>sourceSize</key>
                <string>{266,356}</string>
            </dict>
            <key>s_yellowpuzzle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,963},{223,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,278}}</string>
                <key>sourceSize</key>
                <string>{223,278}</string>
            </dict>
            <key>s_yellowpuzzle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,270},{340,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,223}}</string>
                <key>sourceSize</key>
                <string>{340,223}</string>
            </dict>
            <key>s_yellowpuzzle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,233},{236,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,274}}</string>
                <key>sourceSize</key>
                <string>{236,274}</string>
            </dict>
            <key>s_yellowpuzzle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,344},{256,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,179}}</string>
                <key>sourceSize</key>
                <string>{256,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Silhouettes.png</string>
            <key>size</key>
            <string>{2032,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117cb44448440f732da231aa4803f424:ec2d2ce1a57ffff139655aa137a16c51:39de8b340f770f5b95eaa270b8cbd778$</string>
            <key>textureFileName</key>
            <string>Silhouettes.png</string>
        </dict>
    </dict>
</plist>
