<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smile_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,654},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
            <key>smile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,357},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
            <key>smile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
            <key>smile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,654},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
            <key>smile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
            <key>smile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,299},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
            <key>smile_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
            <key>smile_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
            <key>smile_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,353}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{295,353}}</string>
                <key>sourceSize</key>
                <string>{369,429}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smile.png</string>
            <key>size</key>
            <string>{1009,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6f7425377389ad538b9ad0401a8dd95:36ec939b7b0e60b38181961b44d9c08b:2e23d0a516a83bff07ad6b1953c2ab66$</string>
            <key>textureFileName</key>
            <string>smile.png</string>
        </dict>
    </dict>
</plist>
