<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sr_btn_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,548},{832,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,160}}</string>
                <key>sourceSize</key>
                <string>{832,160}</string>
            </dict>
            <key>sr_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{808,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{808,142}}</string>
                <key>sourceSize</key>
                <string>{832,160}</string>
            </dict>
            <key>sr_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,548},{832,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,160}}</string>
                <key>sourceSize</key>
                <string>{832,160}</string>
            </dict>
            <key>sr_bubble_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{728,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,720}}</string>
                <key>sourceSize</key>
                <string>{728,720}</string>
            </dict>
            <key>sr_bubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,808},{704,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,608}}</string>
                <key>sourceSize</key>
                <string>{704,608}</string>
            </dict>
            <key>sr_bubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{682,804}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,804}}</string>
                <key>sourceSize</key>
                <string>{682,804}</string>
            </dict>
            <key>sr_sound_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,812},{118,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sr_sound_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1072,544}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1072,544}}</string>
                <key>sourceSize</key>
                <string>{1076,544}</string>
            </dict>
            <key>sr_sound_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{918,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,18}}</string>
                <key>sourceSize</key>
                <string>{918,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SoundReaction.png</string>
            <key>size</key>
            <string>{1906,1418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cc3cb99ef04a2347d3ffbce02aba385:fe5b7ef5897cacbb4e79b5f6cac82111:0f6a462a198a4a0d2735f32cafba0a33$</string>
            <key>textureFileName</key>
            <string>SoundReaction.png</string>
        </dict>
    </dict>
</plist>
