<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sw_backspace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,320},{160,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>sw_backspace_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,320},{160,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>sw_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,320},{174,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,212}}</string>
                <key>sourceSize</key>
                <string>{174,212}</string>
            </dict>
            <key>sw_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,320},{148,22}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,148},{148,22}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>sw_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,472},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>sw_key_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,472},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>sw_key_bonus_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,472},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>sw_key_required.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,472},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>sw_key_required_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,320},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>sw_key_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,320},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>sw_tray_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{860,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{860,316}}</string>
                <key>sourceSize</key>
                <string>{862,316}</string>
            </dict>
            <key>sw_tray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{1012,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{1012,308}}</string>
                <key>sourceSize</key>
                <string>{1012,316}</string>
            </dict>
            <key>sw_tray_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1078,316}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1078,316}}</string>
                <key>sourceSize</key>
                <string>{1080,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpeedWords.png</string>
            <key>size</key>
            <string>{1944,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44f4a2ec280244af1b58d56bca6cda61:db9fc23b14315581f61137840b809f2b:a69ae5e37e0c3908b5eb92d838e8638f$</string>
            <key>textureFileName</key>
            <string>SpeedWords.png</string>
        </dict>
    </dict>
</plist>
