<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{210,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,157}}</string>
                <key>sourceSize</key>
                <string>{210,157}</string>
            </dict>
            <key>block1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,214},{210,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,157}}</string>
                <key>sourceSize</key>
                <string>{210,157}</string>
            </dict>
            <key>block2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{210,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,157}}</string>
                <key>sourceSize</key>
                <string>{210,157}</string>
            </dict>
            <key>block3.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,214},{210,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,157}}</string>
                <key>sourceSize</key>
                <string>{210,157}</string>
            </dict>
            <key>block4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{210,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,157}}</string>
                <key>sourceSize</key>
                <string>{210,157}</string>
            </dict>
            <key>gridref.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{840,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,369}}</string>
                <key>sourceSize</key>
                <string>{840,369}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpinBlocks.png</string>
            <key>size</key>
            <string>{1321,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:679d706cb552d27ee34822b838a99a45:b7cf041a31a27647c67e3b4e2cf3d3e2:e75b5a1d256b0fb8372cc0fd2b0b4051$</string>
            <key>textureFileName</key>
            <string>SpinBlocks.png</string>
        </dict>
    </dict>
</plist>
