<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,688},{380,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,120}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>s_horizontal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1326},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>s_horizontal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1184},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>s_horizontal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1070},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>s_horizontal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1868},{140,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,51}}</string>
                <key>sourceSize</key>
                <string>{140,51}</string>
            </dict>
            <key>s_horizontal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1070},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>s_horizontal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1921},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>s_large_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{347,341}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{347,341}}</string>
                <key>sourceSize</key>
                <string>{363,361}</string>
            </dict>
            <key>s_large_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,345},{347,341}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{347,341}}</string>
                <key>sourceSize</key>
                <string>{363,361}</string>
            </dict>
            <key>s_large_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{347,341}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{347,341}}</string>
                <key>sourceSize</key>
                <string>{363,361}</string>
            </dict>
            <key>s_large_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{347,341}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{347,341}}</string>
                <key>sourceSize</key>
                <string>{363,361}</string>
            </dict>
            <key>s_large_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{347,341}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{347,341}}</string>
                <key>sourceSize</key>
                <string>{363,361}</string>
            </dict>
            <key>s_large_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{347,341}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{347,341}}</string>
                <key>sourceSize</key>
                <string>{363,361}</string>
            </dict>
            <key>s_medium_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1622},{246,243}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{246,243}}</string>
                <key>sourceSize</key>
                <string>{260,259}</string>
            </dict>
            <key>s_medium_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{248,245}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{248,245}}</string>
                <key>sourceSize</key>
                <string>{260,259}</string>
            </dict>
            <key>s_medium_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1621},{246,245}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{246,245}}</string>
                <key>sourceSize</key>
                <string>{260,259}</string>
            </dict>
            <key>s_medium_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1374},{246,243}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{246,243}}</string>
                <key>sourceSize</key>
                <string>{260,259}</string>
            </dict>
            <key>s_medium_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,936},{246,243}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{246,243}}</string>
                <key>sourceSize</key>
                <string>{260,259}</string>
            </dict>
            <key>s_medium_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,688},{246,243}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{246,243}}</string>
                <key>sourceSize</key>
                <string>{260,259}</string>
            </dict>
            <key>s_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1808},{152,154}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{152,154}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>s_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1184},{154,156}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{154,156}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>s_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1212},{154,156}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{154,156}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>s_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1652},{152,154}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{152,154}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>s_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1496},{152,154}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{152,154}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>s_small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1342},{152,154}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Stacks.png</string>
            <key>size</key>
            <string>{718,1973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da1ce8f455158cd759f2c7835a467e35:386f182661536d29935588566f2898fd:fb042edea2b7b6c86f0c8ec5864511cd$</string>
            <key>textureFileName</key>
            <string>Stacks.png</string>
        </dict>
    </dict>
</plist>
