<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,134},{24,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{24,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,134},{94,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,134},{94,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,134},{94,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,134},{94,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,134},{94,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_dice_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,134},{94,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_dice_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,134},{94,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_dice_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{94,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_tile_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_tile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_tile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_tile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_tile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ss_tile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SuperSequence.png</string>
            <key>size</key>
            <string>{926,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdbd59341d2f4057347948830ac26cda:0b7f084c1e8bd65874a328de1599fc59:0a99792ff1b99bbd1a58ed051e10b496$</string>
            <key>textureFileName</key>
            <string>SuperSequence.png</string>
        </dict>
    </dict>
</plist>
