<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SA_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,250}}</string>
                <key>sourceSize</key>
                <string>{686,250}</string>
            </dict>
            <key>SA_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,118},{550,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,114}}</string>
                <key>sourceSize</key>
                <string>{550,114}</string>
            </dict>
            <key>SA_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{550,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,114}}</string>
                <key>sourceSize</key>
                <string>{550,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Synonyms.png</string>
            <key>size</key>
            <string>{1242,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5fcd59d07976d5f8c8db6b316c931f5:92403e3117ab570e542f69bd61e6e18b:3d93a67a1031b2a78ec89ef9b9418b33$</string>
            <key>textureFileName</key>
            <string>Synonyms.png</string>
        </dict>
    </dict>
</plist>
