<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thumbs_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,604},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,303},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,614},{296,299}}</string>
                <key>offset</key>
                <string>{-55,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{296,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,310},{302,299}}</string>
                <key>offset</key>
                <string>{-53,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,170},{302,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{306,299}}</string>
                <key>offset</key>
                <string>{-50,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,170},{306,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{310,299}}</string>
                <key>offset</key>
                <string>{-49,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,170},{310,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{310,299}}</string>
                <key>offset</key>
                <string>{-49,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,170},{310,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{310,299}}</string>
                <key>offset</key>
                <string>{-49,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,170},{310,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,314},{308,299}}</string>
                <key>offset</key>
                <string>{-50,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,170},{308,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,624},{306,299}}</string>
                <key>offset</key>
                <string>{-50,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,170},{306,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,299}}</string>
                <key>offset</key>
                <string>{-49,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,170},{310,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,604},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,303},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,2},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,604},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,303},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{284,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,170},{284,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
            <key>thumbs_up_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,614},{286,299}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,170},{286,299}}</string>
                <key>sourceSize</key>
                <string>{470,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thumbs_up.png</string>
            <key>size</key>
            <string>{2048,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecbec330477eb67f22de4e7ff3571f7f:9618113f023b3f75d9a40248c1794890:a2b79c39f73626f2518cf7f2188fd7c2$</string>
            <key>textureFileName</key>
            <string>thumbs_up.png</string>
        </dict>
    </dict>
</plist>
