<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wb_advanced_lever.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{592,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,62}}</string>
                <key>sourceSize</key>
                <string>{592,62}</string>
            </dict>
            <key>wb_beginner_lever.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{592,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,62}}</string>
                <key>sourceSize</key>
                <string>{592,62}</string>
            </dict>
            <key>wb_fulcrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>wb_intermediate_lever.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,62}}</string>
                <key>sourceSize</key>
                <string>{592,62}</string>
            </dict>
            <key>wb_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>wb_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,87},{234,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,83}}</string>
                <key>sourceSize</key>
                <string>{234,83}</string>
            </dict>
            <key>wb_weight_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,139},{78,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,140}}</string>
                <key>sourceSize</key>
                <string>{78,140}</string>
            </dict>
            <key>wb_weight_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,172},{59,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,105}}</string>
                <key>sourceSize</key>
                <string>{59,105}</string>
            </dict>
            <key>wb_weight_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,172},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeightBalance.png</string>
            <key>size</key>
            <string>{974,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:795db4dc5efc6a83111ac55dcdc7280c:19f427af7b36c9de70cf01b0e52166b9:34defbb67a0f8033c1622cda56c333fd$</string>
            <key>textureFileName</key>
            <string>WeightBalance.png</string>
        </dict>
    </dict>
</plist>
