<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing_flutter_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,2},{317,136}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,78},{317,136}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{257,178}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,33},{257,178}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,190}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,20},{225,190}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{221,202}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,7},{221,202}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{279,178}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{279,178}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{321,148}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,65},{321,148}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{345,114}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,100},{345,114}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,152},{353,90}}</string>
                <key>offset</key>
                <string>{-10,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,128},{353,90}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,118},{333,132}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,85},{333,132}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
            <key>wing_flutter_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,2},{317,136}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,78},{317,136}}</string>
                <key>sourceSize</key>
                <string>{391,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wing_flutter.png</string>
            <key>size</key>
            <string>{1927,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:616e6dd6d1a7772de0c0e2d281d885dc:6cf2d8e3a500912713ccd7c743f550d4:385411c6c61a4d2e9d0cbbd12be038b2$</string>
            <key>textureFileName</key>
            <string>wing_flutter.png</string>
        </dict>
    </dict>
</plist>
