<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wp_tile_beige.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wp_tile_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wp_tile_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wp_tile_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wp_tile_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wp_tile_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wp_tray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,223}}</string>
                <key>sourceSize</key>
                <string>{600,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WordPieces.png</string>
            <key>size</key>
            <string>{728,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8079163edf638684061ab917dc7455d:0ac3120f9ca5871544f561cc009fa715:6de6f9f9f8b69a3c79f9f406fd8df743$</string>
            <key>textureFileName</key>
            <string>WordPieces.png</string>
        </dict>
    </dict>
</plist>
