<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ww_french.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_french_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_german.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_german_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_italian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_italian_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_portuguese.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_portuguese_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_question_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_spanish.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
            <key>ww_spanish_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{804,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,150}}</string>
                <key>sourceSize</key>
                <string>{804,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldWords.png</string>
            <key>size</key>
            <string>{1826,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cdf7e547f7d09d90c3b4603f467e711:8fae6f4a3049161a67087d7cfdd4c187:0e0cf6beec5c3aabc8a422d9fd230e8b$</string>
            <key>textureFileName</key>
            <string>WorldWords.png</string>
        </dict>
    </dict>
</plist>
